if portal_templates && portal_templates.length > 0
	h2 #{translate("featured_latex_templates")}
	.templates-container
		each template in portal_templates
			.template-thumbnail
				a(href='/latex/templates/' + template.slug + '/' + template.read_token).thumbnail
					img(src=template.image_url)
				.caption.caption--portals
					a(href='/latex/templates/' + template.slug + '/' + template.read_token) #{template.title}
					.caption__description!=template.author
else
	.row
		.col-sm-12
			p #{translate("no_featured_templates", {title:"{{portal.title}}"})}

	//- To Do: search input below
	//- .row
	//- 	.col-sm-12
	//- 		h4 Discover more Templates, Articles and Examples
	//- 		input(type="text" placeholder="Search")