li
	a(
		href,
		ng-click="openImportModal()",
		ng-controller="GithubSyncMenuEntryController"
	) #{translate("import_from_github")}
	
script(type="text/ng-template", id="githubSyncImportModalTemplate")

	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3
			| #{translate("import_from_github")}
	.modal-body
		.alert.alert-danger(ng-show="status.error")
			div(ng-show="status.error.statusCode == 401")
				p #{translate("github_credentials_expired")}
				a(href="/github-sync/beginAuth").btn.btn-primary #{translate("reauthorize_github_account")}
			span(ng-show="status.error.statusCode != 401") #{translate("github_sync_error")}

		.loading(ng-show="!status.error && status.loading")
			i.fa.fa-refresh.fa-spin.fa-fw
			span  #{translate("loading_github_repositories")}
			
		div(ng-if="!status.error && !status.loading")
			div(ng-if="!status.user.available", ng-controller="FreeTrialModalController")
				p.small #{translate("github_sync_description")}
				.alert.alert-info
					p #{translate("github_is_premium")}
					p
						a.btn.btn-info(ng-click="startFreeTrial('github')") #{translate("start_free_trial")}
					
			div(ng-if="status.user.available && !status.user.enabled")
				p #{translate("link_to_github_description")}
				p
					a(href='/github-sync/beginAuth').btn.btn-info #{translate("link_to_github")}
			
			div(ng-if="status.repos && !status.inflight")
				p.text-center #{translate("select_github_repository")}
				table.table.table-striped
					tbody
						tr(ng-repeat="repo in status.repos")
							td
								| {{ repo.name }}
								.small
									a(ng-href="https://github.com/{{repo.full_name}}") {{repo.full_name}}
							td.text-right
								a(href, ng-click="importRepo(repo)").btn.btn-primary #{translate("import_to_sharelatex")}

			div(ng-if="status.inflight")
				i.fa.fa-refresh.fa-spin.fa-fw
				span  #{translate("importing")}
			
	.modal-footer()
		button.btn.btn-default(
			ng-click="cancel()",
			ng-disabled="status.inflight"
		)
			span #{translate("cancel")}