extends ../../../../app/views/layout

block vars
	- var suppressNavbar = true
	- var suppressFooter= true

block content
	script.
		$(document).ready(function () {
			setTimeout(function() {
				$('.loading-screen-brand').css('height', '20%')
			}, 500);
		});

	.editor.full-size(
			ng-controller="OpenInOverleafGatewayController",
			ng-init=("handleGateway('" + Buffer.from(JSON.stringify({params: form_data, action: action, target: target, csrfToken: csrfToken, error: error})).toString('base64') + "')")
		)
		.loading-screen(ng-hide="error || serverError")
			.loading-screen-brand-container
				.loading-screen-brand
			h3.loading-screen-label() #{translate('loading_content')}
				span.loading-screen-ellip .
				span.loading-screen-ellip .
				span.loading-screen-ellip .
		.row(ng-show="error || serverError" ng-cloak)
			.col-md-8.col-md-offset-2
				.page-header
					h1 #{translate('loading_content')}
				.message
					p #{translate('there_was_an_error_opening_your_content')}
				.errors
					.alert.alert-danger(ng-show="error" ng-cloak) #{translate('sorry_something_went_wrong_opening_the_document_please_try_again')}
					.alert.alert-danger(ng-show="serverError" ng-cloak) {{serverError}}
					a.error-btn(href="/") Home
