extends ../../../../app/views/layout

block vars
	- var suppressNavContentLinks = true

block content
	.container
		.row
			.col-md-6.col-md-offset-3
				.card
					.page-header
						h1 #{translate('loading_content')}
					.message
						p #{translate('opening_your_content_please_wait')}
					.gateway(
						ng-controller="OpenInOverleafGatewayController",
						ng-init="handleGateway('"+Buffer.from(JSON.stringify({params: form_data, action: action, target: target, csrfToken: csrfToken, error: error})).toString('base64')+"')"
					)
						.alert.alert-danger(ng-show="error" ng-cloak) #{translate('sorry_something_went_wrong_opening_the_document_please_try_again')}
						.alert.alert-danger(ng-show="serverError" ng-cloak) {{serverError}}