if showGitBridge
	span(ng-controller="GitBridgeController", ng-show="permissions.write")
		ul.list-unstyled.nav()
			li
				a(ng-click="openGitBridgeModal()")
					i.fa.fa-code-fork.fa-fw
					| &nbsp;&nbsp; #{translate('git')}


script(type="text/ng-template", id="gitBridgeModalTemplate")

	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3 #{translate('clone_with_git')}
	.modal-body
		p
			| !{translate('git_bridge_modal_description')}
		pre.text-center
			| {{ gitUrl }}

	.modal-footer()
		button.btn.btn-default(
			ng-click="cancel()",
		)
			span #{translate("close")}
