extends ../_layout

block content
	.content.content-alt
		.container
			.row
				.col-md-10.col-md-offset-1
					h3(ng-non-bindable) #{entityName} "#{entityId}" does not exists in v2
					form(
						async-form
						name='createNewEntity'
					)
						form-messages(for='createNewEntity' role='alert')
						button.btn.btn-primary.text-capitalize(
							type="submit",
							ng-disable='createNewEntity.inflight'
							ng-non-bindable
						) Create #{entityName} in v2
