extends ../layout

block content
	.content
		.container
			.row
				.col-md-8.col-md-offset-2
					.page-header
						h1 #{translate("about_us")}
					h2 #{translate("meet_team_behind_latex_editor")}
					p.team-profile
						span.img-container.img-circle
							img(src='/img/about/henry_oswald.jpg')
						strong Henry Oswald
						| #{translate("about_henry_oswald")} 
						a(href='https://twitter.com/henryoswald') #{translate("follow_me_on_twitter")}
						| .
					p.team-profile
						span.img-container.img-circle
							img(src='/img/about/james_allen.jpg')
						strong James Allen
					p(style="clear: both")
					| #{translate("about_james_allen")}
					h3 #{translate("motivation")}
					p #{translate("motivation_behind_sl")}
					p #{translate("why_we_charge")}

					h3 #{translate("technologies")}
					p #{translate("our_technologies")}
