link(rel='canonical', href='https://www.sharelatex.com')

extends ../layout

block content
	.masthead
		.container
			.row
				.col-md-12
					h1 LaTeX, 
						span Evolved
					p The easy to use, online, collaborative LaTeX editor
			.row
				.col-md-12
					.screenshot
						.img

		.register-banner
			.container
				.row
					.col-md-12
						h2 Get started now
						form.form-inline(async-form="register", name="registerForm", action="/register", ng-cloak)
							input(name='_csrf', type='hidden', value=csrfToken)
							input(name='redir', type='hidden', value=redir)
							form-messages(for="registerForm")
							.form-group
								input.form-control.input-lg(
									type='email',
									name='email',
									placeholder="email@example.com"
									required,
									ng-model="email",
									ng-init="email = #{JSON.stringify(new_email)}",
									ng-model-options="{ updateOn: 'blur' }"
								)
							.form-group
								input.form-control.input-lg(
									type='password',
									name='password',
									placeholder="********",
									required,
									ng-model="password"
								)
							.form-group
								button.btn-primary.btn.btn-lg.btn-hero(
									type='submit'
									ng-disabled="registerForm.inflight"
								)
									span(ng-show="!registerForm.inflight") Register
									span(ng-show="registerForm.inflight") Registering...

	.universities.hidden-xs.hidden-sm
		.container
			.row.row-spaced-small
				div.small ShareLaTeX is used by over <strong>200,000</strong> students and academics at:
				#slides.container-fluid
					.row.row-spaced
						.col-xs-3
							img(src="/img/crests/harvard.gif", alt="harvard university logo")
						.col-xs-3
							img(src="/img/crests/mit.gif", alt="mit university logo")
						.col-xs-3
							img(src="/img/crests/oxford.gif", alt="oxford university logo")
						.col-xs-3
							img(src="/img/crests/tokyo.png", alt="tokyo university logo")
					.row.row-spaced(style="display: none;")
						.col-xs-3
							img(src="/img/crests/cambridge.png", alt="cambridge university logo")
						.col-xs-3
							img(src="/img/crests/liverpool.jpg", alt="liverpool university logo")
						.col-xs-3
							img(src="/img/crests/icl.png", alt="icl university logo")
						.col-xs-3
							img(src="/img/crests/yale.png", alt="yale university logo")
					.row.row-spaced(style="display: none;")
						.col-xs-3
							img(src="/img/crests/durham.png", alt="durham university logo")
						.col-xs-3
							img(src="/img/crests/nasa.png", alt="nasa university logo")
						.col-xs-3
							img(src="/img/crests/toronto.gif", alt="toronto university logo")
						.col-xs-3
							img(src="/img/crests/stanford.png", alt="stanford university logo")

	.pattern-container
		.container
			.long-form-features
				.row
					script(type="text/javascript").
						var frames = [{
							before: "",
							time: 1000
						}, {
							before: "i",
							time: 100
						}, {
							before: "in",
							time: 200
						}, {
							before: "in ",
							time: 300
						}, {
							before: "in r",
							time: 100
						}, {
							before: "in re",
							time: 200
						}, {
							before: "in rea",
							time: 100
						}, {
							before: "in real",
							time: 200
						}, {
							before: "in real ",
							time: 400
						}, {
							before: "in real t",
							time: 200
						}, {
							before: "in real ti",
							time: 100
						}, {
							before: "in real tim",
							time: 200
						}, {
							before: "in real time",
							time: 2000
						}];
						var index = 0;
						function nextFrame() {
							var frame = frames[index];
							index = index + 1;
							if (index >= frames.length) {
								index = 0;
							}
							$(".real-time-example").html(frame.before + "<div class='cursor'>|</div>");
							setTimeout(nextFrame, frame.time);
						}
						nextFrame();
						
					.col-md-6
						.card.row-spaced
							.row
								.col-md-3.col-xs-2.text-center
									i.fa.fa-group.fa-4x
								.col-md-9.col-xs-10
									h2.h1 Collaboration
									p Work together on a single version
									p View collaborator edits 
										span.real-time-example
										
					.col-md-6
						.card.row-spaced
							.row
								.col-md-3.col-md-push-9.col-xs-2.text-center
									i.fa.fa-thumbs-up.fa-4x
								.col-md-9.col-md-pull-3.col-xs-10
									h2.h1 Ease of use
									p No complicated LaTeX installation
									p All the packages and 
										a(href="/templates") templates
										|  you need

				.row
					.col-md-6
						.card.row-spaced
							.row
								.col-md-3.col-xs-2.text-center
									i.fa.fa-history.fa-4x
								.col-md-9.col-xs-10
									h2.h1 Document history
									p.track-changes-example See what has been 
										span.added added
										|  and 
										span.removed removed
									p Restore to any older version

					.col-md-6
						.card.row-spaced
							.row
								.col-md-3.col-md-push-9.col-xs-2.text-center
									i.fa.fa-globe.fa-4x
								.col-md-9.col-md-pull-3.col-xs-10
									h2.h1 Work from anywhere
									p Access your work from anywhere in the world
									p Work offline and sync your files via Dropbox
									
			.row.row-spaced
				.col-md-12
					p.text-center
						a(href="/user/subscription/plans").btn.btn-primary.btn-lg Sign up now!
						
			.row-spaced
	.content.content-alt-home
		.container
			.page-header
				h2 Ease of Use
			
			.row.row-spaced
				.col-md-12
					.col-md-4.pull-right
						.card.card-thin
							p There are 
								strong over 400 templates
								|  in our template gallery, so it's really easy to get started, whether you're writing a journal article, thesis, CV or something else.
							p.text-center
								a(href="/templates").btn.btn-info View templates
						p &nbsp;
					p
						| There's nothing complicated or difficult for you to install, and you can 
						strong start using LaTeX right now
						|, even if you've never seen it before.
						| ShareLaTeX comes with a complete, ready to go LaTeX environment which runs on our servers. 
						
					p
						| With ShareLaTeX you get the same LaTeX set-up wherever you go. By working with your colleagues
						| and students on ShareLaTeX, you know that you're not going to hit any version inconsistencies or
						| package conflicts.
						
					p
						| We support almost all LaTeX features, including inserting images, bibliographies, equations, and much more! 
						| Read about all the exciting things you can do with ShareLaTeX in our 
						a(href="/learn") LaTeX guides
						| .
				.col-md-6
			.page-header
				h2 Collaboration
			
			.row.row-spaced
				.col-md-12
					blockquote 
						p Waiting for changes to be emailed back before carrying on wastes a huge amount of time. 
							strong The ability to track changes and the real-time collaborative nature is what sets ShareLaTeX apart.
						footer Professor Erdogmus, Northeastern University.
						
			.row
				.col-md-8
					p
						| ShareLaTeX makes sure that you're always up to date with your collaborators and what they are doing. 
						| There is only a single master version of each document which everyone has access to. 
						| It's impossible to make conflicting changes, and you don't have to wait for your colleagues to send you
						| the latest draft before you can keep working.
					p
						| If multiple people want to work on a document at the same time then that's no problem.
						| You can see where your colleagues are typing directly in the editor and their changes show up on your screen immediately.
				.col-md-4
					.real-time-example-code
						span.highlight \begin
						| {document}
						br
						br
						| Work directly with your collaborators 
						span.real-time-example
						br
						br
						span.highlight \end
						| {document}
						
			h3 Work with Word users
			.row
				.col-md-12
					p
						| ShareLaTeX is so easy to get started with that you'll be able to invite your non-LaTeX colleagues to contribute directly to your LaTeX documents.
						| They'll be productive from day one and be able to pick up small amounts of LaTeX as they go.
			.page-header
				h2 Document History
			
			.row.row-spaced
				.col-md-4
					.real-time-example-code.track-changes-example
						span.highlight \begin
						| {document}
						br
						br
						| View which changes have been 
						span.added added
						|  and 
						span.removed removed
						| .
						br
						br
						span.highlight \end
						| {document}
				.col-md-8
					p
						| ShareLaTeX includes a history of all of your changes so you can see exactly who changed what, and when.
						| This makes it extremely easy to keep up to date with any progress made by your collaborators and allows you to review recent work.
					p
						| In a collaboration or on your own, sometimes mistakes are made.
						| Reverting back to previous versions is simple and removes the risk of losing work or regretting a change.
						
			.row.row-spaced.text-center
				a(href="/user/subscription/plans").btn.btn-primary.btn-lg Start using ShareLaTeX now
				
			.row-spaced
				

	script(src=jsPath + "libs/jquery.slides.min.js")
	script(type="text/javascript").
		$(function() {
			$('#slides').slidesjs({
				height: 80,
				play: {
					active: false,
					auto: true,
					interval: 5000
				},
				navigation: {
					active: false
				},
				pagination: {
					active: false
				}
			});
		});
