extends ../layout
include ../../../../../app/views/mixins/_pagination

//- Page for the list of all blog posts, 
//- or page for a list of blog posts returned from a tag query

block content_cms
	.content-container.container-small
		section
			.row.section-row
				.col-sm-12
					.page-header
						if tag
							h1
								a(href="/blog") #{translate('blog')}
							small Posts tagged #{tag}
						else
							h1 #{translate('blog')}
		section.blog(ng-cloak ng-controller="BlogController")
			.row.section-row
				.col-sm-12
					ul.blog-list
						for post in items
							li.card.blog-post
								.card-header
									h2
										a(href='/blog/' + post.slug)
											| !{post.title}
								if (post.authorDisplay || post.publishDatePretty)
									.row
										.col-sm-12
											small Posted
												if (post.authorDisplay)
													|  by #{post.authorDisplay}
												if (post.publishDatePretty)
													|  on #{post.publishDatePretty}

								.row
									.col-sm-12
										mathjax(delimiter="no-single-dollar") !{post.contentPreview}

								.row.row-spaced
									.col-sm-12
										a.btn.btn-success(href='/blog/' + post.slug) Read More

								.row
									.col-sm-12
										+blog_tags(post.tag, 'Tags')

					if pages && pages.total_pages > 1
						+paginate(pages, url_path)

	script(src=mathJaxPath)
