extends ../layout

//- Page for a single blog post

block content_cms
	.content-container.container-small
		section
			.row.section-row
				.col-xs-12
					.page-header
						h1
							a(href="/blog") #{translate('blog')}
						
		section
			.row.section-row.blog(ng-cloak ng-controller="BlogController")
				.col-xs-12
					ul.blog-list
						li.card
							.card-header
								h2 !{title}
							if (authorDisplay || publishDatePretty)
								small Posted
									if (authorDisplay)
										|  by #{authorDisplay}
									if (publishDatePretty)
										|  on #{publishDatePretty}

							mathjax(delimiter="no-single-dollar") !{content}

							if tag
								.row
									.col-sm-12
										+blog_tags(tag)

							+blog_tags(popular_tags, 'Popular Tags')

	script(src=mathJaxPath) 