doctype xml
feed(xmlns="http://www.w3.org/2005/Atom" xml:lang="en-US")
	title #{settings.appName} Blog
	link(rel="alternate" type="text/html" href=settings.siteUrl)
	id #{settings.siteUrl}/blog/feed
	link(rel="alternate" href=settings.siteUrl)
	link(rel="self" href=`${settings.siteUrl}/blog/feed`)
	if items && items.length
		updated= new Date(items[0].publishDate).toISOString()
	each post in items
		entry
			id #{settings.siteUrl}/blog/#{post.slug}
			if post.authorDisplay
				author
					name= post.authorDisplay
			title= post.title
			if post.tagPretty
				category= post.tagPretty.join(', ')
			summary(type="html")= post.contentPreview
			link(rel="alternate" href=`${settings.siteUrl}/blog/${post.slug}`)
			updated= new Date(post.publishDate).toISOString()
			published= new Date(post.publishDate).toISOString()