.universities
	.container.text-center
		.card
			h2 #{settings.appName} is used at institutions worldwide, including:
			.row
				.col-xs-12
					img(class="uni-logo img-responsive" src=buildImgPath('/crests/queensland.png'), alt="University of Queensland logo")

					img(class="uni-logo img-responsive" src=buildImgPath('/crests/caltech.png'), alt="Caltech logo")

					img(class="uni-logo img-responsive" src=buildImgPath('/crests/york.png'), alt="University of York logo")

					img(class="uni-logo img-responsive" src=buildImgPath('/crests/agder.png'), alt="University of Agder logo")
			.row.row-spaced
				.col-xs-12
					p
						a(href="/for/universities") View more institutions using #{settings.appName}
