include ./_mixins
include ../../../../../support/app/views/contact_form/_form

mixin element(element)
	//- FOR: types `Element | _` on CMS, except `Element | Quote`
	if element.type == 'content'
			| !{element.fields.content}
			if element.fields.youTube
				if element.fields.youTubeTitle
					p #{element.fields.youTubeTitle}
				div.embed-responsive.embed-responsive-16by9
					iframe(src=element.fields.youTube title=element.fields.youTubeTitle || "YouTube Video")
			if element.fields.contactForm
				//- to do - move this to a separate content type
				include ../../../../../support/app/views/contact_form/form_general
	else if element.type == 'buttonContact'
			+btn_contact(element)
	else if element.type == 'buttonOtherPage'
			+btn_other_page(element)
	else if element.type == 'contactForm'
		| !{element.fields.content}
		-var affectedProject = element.fields && element.fields.formInputs && element.fields.formInputs.indexOf('Affected Project URL') > -1 ? true : false
		-var wikiSuggestions = element.fields && element.fields.formInputs && element.fields.formInputs.indexOf('Subject Suggestions from Learn Wiki') > -1 ? true : false
		+contact-form(affectedProject, wikiSuggestions)
		| !{element.fields.footer}
	else if element.type == 'pageAboutTeam'
		//- to do: rename type to elementTeamList?
		+team(element)

mixin actual_content(content)
	//- DEPRECATED
	//- @param {object}		content		A content block
	//- content block= From the CMS, which includes the content and UI settings
	if content.fields
		if content.fields.quote
			//- quotes are the only element that will handle col independently due to special layouts
			+quote(content.fields)
		else
			div(class=content.fields.halfWidth ? "col-sm-6" : "col-sm-12")
				div(class={"card" : content.fields.card, "text-center" : content.fields.centerText})
					+element(content)

mixin column_groups(groups)
	//- FOR: type `Style | Elements` on CMS
	//- This type applies styling to a group of types `Element | _` and `Layout | TabGroup`
	for group in groups
		div(class={"card" : group.fields.card, "text-center" : group.fields.centerText})
			if group.fields
				for element in group.fields.elements
					if element.fields
						if element.fields.quote
								//- quotes are the only element that will handle col independently due to special layouts
								.row
									+quote(element.fields)
						else
							+element(element)

mixin content_row(row)
	//- FOR: type `Layout | Grid` on CMS
	//- we only provide a 2 column layout option on the CMS, but there are some
	//- variations: 12, 6 | 6, 4 | 8, or 8 | 4
	//- `row.grid` will be one of the combinations above,
	//- where the numbers represent the column width for left and right col
	-var gridCol = row.grid.split('|')
	.row.row-spaced
		if row.column1
			div(class="col-xs-12 col-sm-" + gridCol[0])
				+column_groups(row.column1)
		if row.column2 && row.column1 && gridCol[0] != 12
			div(class="col-xs-12 col-sm-" + gridCol[1])
				+column_groups(row.column2)

mixin page_content(content, nextContent)
	//- DEPRECATED 
	//- Handles the grid layout for CMS generated pages
	//- @param {object}	content, nextContent	A content block
	//- content block= From the CMS, which includes the content and UI settings

	if content
		if content.newRow
			.row.row-spaced
				+actual_content(content)
				if nextContent && !nextContent.newRow
					+actual_content(nextContent)