p #{settings.appName} is an online LaTeX and Rich Text collaborative writing and publishing tool that makes the whole process of writing, editing and publishing scientific documents much quicker and easier.


p.visible-print #{portal.title} does not currently have an institutional partnership with #{settings.appName}.

p.hidden-print We don’t currently have an institutional partnership with #{portal.title}, but we would love to set one up. This is a temporary portal to provide more information about institutional accounts on #{settings.appName}.

p.hidden-print If #{portal.title} were to set up an institutional account, it would provide #{settings.appName} Professional accounts for students, faculty, researchers and staff. Professional benefits include (which are not included on free accounts):

include ./_pro_benefits
