.row.hidden-print
	.col-sm-12
		h3 Show your support for #{settings.appName} at #{portal.title}
		p Would you like to see an #{settings.appName} Institutional Account at #{portal.title}?  If so, please
			strong &nbsp;fill in your information below
			| &nbsp;and include any details on your current #{settings.appName} use, #{settings.appName} experience, etc. We will then share this information with our contacts at #{portal.title} when discussing an #{settings.appName} institutional account.

		p Let us know how you’re currently using #{settings.appName} and how an institutional account would help. It would be helpful to include:

		ul 
			li The name of your lab or collaborative group who have or would like to use #{settings.appName}

			li Any projects where you have or would like to use #{settings.appName}

			li Any classes you have or would like to teach using #{settings.appName}

			li Your favourite features on #{settings.appName}

.row.hidden-print(id="forms")
	.col-sm-12(id="contact")
		//- to do: contact form

		//- to do: if in team - <% if @in_team&.last_contact_at %>
		p Thanks for supporting #{settings.appName} at #{portal.title} on __date__! Please continue to spread the word! As you're actively supporting #{settings.appName} at #{portal.title}, check out our&nbsp;
			+linkAdvisors()
			| !
