- if (user.featureSwitches.github)
	hr

	h3 #{translate("github_integration")}

	- if (!user.features.github)
		p.small #{translate("github_sync_description")}
		.alert.alert-info
			p #{translate("github_is_premium")}
			p
				a.btn.btn-info(href='/user/subscription/plans') #{translate("upgrade")}
	- else if (github.error)
		.alert.alert-danger #{translate("github_sync_error")}
	- else if (github.enabled)
		.alert.alert-success
			| #{translate("github_account_is_linked")}
			|  
			a(href='/github-sync/unlink') #{translate("unlink_github")}
	- else
		p.small #{translate("github_sync_description")}
		p.small #{translate("link_to_github_description")}
		p
			a(href='/github-sync/beginAuth').btn.btn-info #{translate("link_to_github")}