span(ng-controller="ReferencesSearchController")

	// the search hint, kept hidden initially,
	// will be attached to the autocomplete popup and revealed
	// once autocomplete has been triggered in a `cite` block

	div(style="display: none;").sl_references_search_hint
		div(ng-if="shouldABTestBibSearch")
			div(sixpack-switch="bib-search-highlight")
				div(sixpack-default).sl_references_search_hint-varDefault
					span #{translate("references_search_hint")}
				div(sixpack-when="button").sl_references_search_hint-varButton
					hr
					// Have to use the `mousedown` event, as Ace
					// captures `click` at the capture phase.
					button.btn.btn-info(
						ng-mousedown="handleOpenSearch();"
						title="Search your references"
					)
						i.fa.fa-search(aria-hidden="true")
						span Search your references
						kbd (Ctrl + Space)
		div(ng-if="!shouldABTestBibSearch")
			div.sl_references_search_hint-varDefault
				span #{translate("references_search_hint")}


script(type="text/ng-template", id="referencesSearchModalTemplate")
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3 #{translate("search_references")}
	.modal-body.references-search-modal
		div(
			ng-if="!searchEnabled"
			style="background-image: url('/img/references-search/search_example.gif');"
		).references-search-upgrade-prompt
			div.upgrade-prompt
				.message.call-to-action
					| #{translate("upgrade_to_get_feature", {feature:"References Search"})}

				.message
					ul.list-unstyled
						li
							i.fa.fa-check &nbsp;
							| #{translate("unlimited_projects")}

						li
							i.fa.fa-check &nbsp;
							| #{translate("collabs_per_proj", {collabcount:'Multiple'})}

						li
							i.fa.fa-check &nbsp;
							| #{translate("full_doc_history")}

						li
							i.fa.fa-check &nbsp;
							| #{translate("sync_to_dropbox")}

						li
							i.fa.fa-check &nbsp;
							| #{translate("sync_to_github")}

						li
							i.fa.fa-check &nbsp;
							|#{translate("compile_larger_projects")}

				.message(ng-show="project.owner._id == user.id")
					p(ng-controller="FreeTrialModalController")
						a.btn.btn-success(
							href='#'
							ng-class="buttonClass"
							ng-click="startFreeTrial('references-search')"
						) #{translate("start_free_trial")}
					
				.message(ng-show="project.owner._id != user.id")
					p #{translate("ask_proj_owner_to_upgrade_for_references_search")}
					p
						a.small(href, ng-click="cancel()") #{translate("cancel")}
		
		
		div(ng-if="searchEnabled")
			.row
				form.col-md-12.search-form
					.form-group.has-feedback
						input.form-control.text-monospace.query-text(
							ng-model="state.queryText",
							placeholder=translate('search_bib_files')+"…",
							on-enter="doSearch()",
							autofocus="autofocus",
							autocomplete="off",
							ng-keydown="handleInputKeyDown($event)",
							ng-init="setup()"
						)
						i.form-control-feedback.fa.fa-spinner.fa-spin(
							ng-if="state.currentlySearching"
						)
			div(ng-if="state.errorMessage").row
				.col-md-12
					div.alert.alert-danger
						| #{translate("generic_something_went_wrong")}
			div(ng-show="state.searchResults").row.search-results
				.col-md-12
					div(ng-if="state.searchResults != null && state.searchResults.length == 0").no-results-message
						div.text-center
							| #{translate("no_search_results")}
					div(
						ng-repeat="hit in state.searchResults"
						ng-class="{'selected-search-result-hit': $index == state.selectedIndex}"
						ng-mouseenter="selectIndex($index)"
						ng-mouseleave="selectIndex(null)"
						ng-click="acceptSelectedSearchResult()"
					).search-result-hit
						.row
							.col-md-12
								// use either the highlight (if present) or the normal text
								span.hit-title
									span(ng-if="!hit.highlight['Fields.title']")
										| {{hit._source.Fields.title}}
									span(
										ng-if="hit.highlight['Fields.title']"
										ng-bind-html="hit.highlight['Fields.title'][0]"
									)
								span.hit-key.pull-right
									span(ng-if="!hit.highlight['EntryKey']")
										| {{hit._source.EntryKey}}
									span(
										ng-if="hit.highlight['EntryKey']"
										ng-bind-html="hit.highlight['EntryKey'][0]"
									)
						.row
							.col-md-12
								span.hit-author
									span(ng-if="!hit.highlight['Fields.author']")
										| {{hit._source.Fields.author}}
									span(
										ng-if="hit.highlight['Fields.author']"
										ng-bind-html="hit.highlight['Fields.author'][0]"
									)
								span(ng-if="hit._source.Fields.journal").hit-journal.small
									| &nbsp;—&nbsp;
									span(ng-if="!hit.highlight['Fields.journal']")
										| {{hit._source.Fields.journal}}
									span(
										ng-if="hit.highlight['Fields.journal']"
										ng-bind-html="hit.highlight['Fields.journal'][0]"
									)
								span(ng-if="hit._source.Fields.year").hit-year.small
									| &nbsp;—&nbsp;
									span(ng-if="!hit.highlight['Fields.year']")
										| {{hit._source.Fields.year}}
									span(
										ng-if="hit.highlight['Fields.year']"
										ng-bind-html="hit.highlight['Fields.year'][0]"
									)
