// Left-hand menu entries
span(ng-controller="ReferencesController")
	ul.list-unstyled.nav()
		each item in ['mendeley','zotero']
			li
				a(ng-click="openReferencesModal('#{item}')")
					i.fa.fa-file-text-o
					| &nbsp;&nbsp; #{translate(item)}

// Menedeley|Zotero References Modal
script(type="text/ng-template", id="referencesModalTemplate")

	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3 {{provider}} #{translate("reference_integration")}
	.modal-body

		// When the user doesn't have this feature
		div(ng-if="!userHasProviderFeature")
			p.small {{provider}} #{translate("reference_sync_description")}
			.alert.alert-info
				p {{provider}} #{translate("reference_is_premium")}
				p
					a.btn.btn-info(ng-click="startFreeTrial(provider)") #{translate("start_free_trial")}
		
		// When the user does have access to this feature
		div(ng-if="userHasProviderFeature")

			// When the user has not linked to the provider
			div(ng-if="!userHasProviderLink")
				p #{translate("link_to_reference_description")} {{provider}} 
				p
					a(href,ng-click="linkAccount()").btn.btn-info #{translate("link_to_reference")} {{provider}} 
			
			// When the user has linked, the happy path
			div(ng-if="userHasProviderLink")

				div
					button.btn.btn-default(ng-click="loadBibtex()")
						| Load Bibtex

				.alert.alert-danger(ng-show="status.error") {{provider}} #{translate("reference_loading_error")}

				.loading(ng-show="!status.error && status.loading")
					i.fa.fa-refresh.fa-spin.fa-fw
					span  #{translate("reference_loading")} {{provider}} 

				.success(ng-show="!status.error && status.loading")
					i.fa.fa-check
					span  {{provider}} #{translate("reference_loading_success")}

				div(ng-if="bibtexData")
					hr
					div(style="max-height: 200px; overflow: scroll; white-space: pre")
						| {{bibtexData}}
					hr


	.modal-footer()
		button.btn.btn-default(
			ng-click="cancel()",
		)
			span #{translate("close")}
