span(ng-controller="ReferencesSearchController")

script(type="text/ng-template", id="referencesSearchModalTemplate")
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3 #{translate("search_references")}
	.modal-body.references-search-modal
		.row
			.col-md-12
				form.search-form
						input.form-control.text-monospace.query-text(
							ng-model="state.queryText",
							placeholder="Search references...",
							on-enter="doSearch()",
							autofocus="autofocus",
							autocomplete="off",
							ng-keydown="handleInputKeyDown($event)",
							ng-init="setup()"
						)
		div(ng-show="state.searchResults").row.search-results
			.col-md-12
				div(
					ng-repeat="hit in state.searchResults"
					ng-class="{'selected-search-result-hit': $index == state.selectedIndex}"
				).search-result-hit
					.row
						.col-md-12
							span.hit-title
								| {{hit.Fields.title}} {{$index}}
					.row
						.col-md-12
							span.hit-author
								| {{hit.Fields.author}}
							span.hit-year.small
								| &nbsp;— {{hit.Fields.year}}