span(ng-controller="ReferencesSearchController")

script(type="text/ng-template", id="referencesSearchModalTemplate")
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3 #{translate("search_references")}
	.modal-body.modal-body-share
		| test
	
	.modal-footer()
		button.btn.btn-default(
			ng-click="cancel()",
		)
			span #{translate("dismiss")}