extends ../../_layout

block content
  form(async-form name='createTemplate' action='/project/new/template/' auto-submit="true")
    .editor.full-size
      .loading-screen()
        .loading-screen-brand-container
          div#loadingScreen.loading-screen-brand()

        form-messages(for='createTemplate' role='alert')
        h3.loading-screen-label(
          ng-cloak
          ng-show="createTemplate.inflight"
        ) {{translate("Opening template")}}
          span.loading-screen-ellip .
          span.loading-screen-ellip .
          span.loading-screen-ellip .

    input(type="hidden" name="templateId" value=templateId)
    input(type="hidden" name="templateVersionId" value=templateVersionId)
    input(type="hidden" name="templateName" value=name)
    input(type="hidden" name="compiler" value=compiler)
    input(type="hidden" name="imageName" value=imageName)
    input(type="hidden" name="mainFile" value=mainFile)
    if brandVariationId
      input(type="hidden" name="brandVariationId" value=brandVariationId)
