form.form-inline(async-form="register", name="registerForm", action="/register", ng-cloak, captcha)
	.hp-register-password-error(ng-show="registerForm.password.$error.complexPassword")
		span.register-banner__password-error.small.alert.alert-danger(ng-bind-html="complexPasswordErrorMessage")

	input(name='_csrf', type='hidden', value=csrfToken)
	input(name='redir', type='hidden', value=redir)
	form-messages(for="registerForm")
	div
		.hp-register-form-email-pwd
			.form-group
				input.form-control.input-lg(
					type='email',
					name='email',
					placeholder="email@example.com",
					required,
					aria-label='email',
					ng-model="email",
					ng-init="email = "+JSON.stringify(new_email),
					ng-model-options="{ updateOn: 'blur' }"
				)

			.form-group
				input.form-control.input-lg#passwordField(
					type='password',
					name='password',
					placeholder="********",
					required,
					aria-label='password',
					ng-model="password",
					complex-password
				)
			.form-group.hp-register-form-email-pwd-btn-container
				button.btn-primary.btn.btn-lg.btn-hero(
					type='submit'
					ng-disabled="registerForm.inflight"
				)
					span(ng-show="!registerForm.inflight") #{translate("register")}
					span(ng-show="registerForm.inflight") #{translate("registering")}...

		div
			.form-group.hp-register-newsletter-checkbox
				label.checkbox-inline.checkbox-newsletter
					input(type='checkbox', 
						id="newslettercheckbox",
						name="subscribeToNewsletter",
						ng-model="subscribeToNewsletter",
						value="true")
					| #{translate("newsletter-accept")}
			.hp-register-external-separator
				span.hp-register-external-separator-or #{translate("login_register_or")}
			.form-group
				a.btn.btn-default.login-btn-google.hp-login-btn(
					href="/auth/google?intent=sign_up"
				) 
					i.login-btn-icon.login-btn-icon-google
					| #{translate("register_using_service", {service:"Google"})}
			.form-group
				a.btn.btn-default.login-btn-orcid.hp-login-btn(
					href="/auth/orcid?intent=sign_up"
				) 
					i.login-btn-icon.login-btn-icon-orcid
					| #{translate("register_using_service", {service:"ORCID"})}

script(type='text/javascript').
	window.passwordStrengthOptions = !{JSON.stringify(settings.passwordStrengthOptions || {})}
