extends ../../layout


block _headLinks
	link(rel='canonical', href='https://www.overleaf.com')

block vars
	- metadata = { viewport: true }


block content
	.masthead
		.container
			.row
				.col-md-12
					h1 LaTeX, 
						span #{translate("evolved")}
					p #{translate("the_easy_online_collab_latex_editor")}
			.row
				.col-md-12
					.screenshot
						.img

		.register-banner
			.container
				.row
					.col-md-12
						h2 #{translate("get_started_now")}
						include ./_registration_form

	.content-alt
		.container
			.row.row-spaced-large
				.col-sm-12
					//- inline style so section margin matches margin from section below
					h3.text-center(style="margin: 0;") #{settings.appName} is used by over 2,900,000 students and academics at 3,600 institutions worldwide
			.row.row-spaced-large
				.col-sm-12.col-md-10.col-md-offset-1
					.circle-img
						img(src=buildImgPath("advocates/friend.jpeg") alt="Professor James Friend")
					blockquote.blockquote-with-img
						p Just want to say that I am really grateful for #{settings.appName}, it has enabled a slew of research and teaching development in my work that would have been annoyingly difficult before. Even people who don’t know LaTeX are participating with me on research proposals and that’s saying something if you know what LaTeX is like for the uninitiated. Thanks. And thanks for the support!!
						footer Professor James Friend of the Medically Advanced Devices Lab, University of California, San Diego

	.pattern-grid
		.container
			.long-form-features.row-spaced
				.row
					script(type="text/javascript").
						(function () {
							var frames = [{
								before: "",
								time: 1000
							}, {
								before: "i",
								time: 100
							}, {
								before: "in",
								time: 200
							}, {
								before: "in ",
								time: 300
							}, {
								before: "in r",
								time: 100
							}, {
								before: "in re",
								time: 200
							}, {
								before: "in rea",
								time: 100
							}, {
								before: "in real",
								time: 200
							}, {
								before: "in real ",
								time: 400
							}, {
								before: "in real t",
								time: 200
							}, {
								before: "in real ti",
								time: 100
							}, {
								before: "in real tim",
								time: 200
							}, {
								before: "in real time",
								time: 2000
							}];
							var index = 0;
							function nextFrame() {
								var frame = frames[index];
								index = index + 1;
								if (index >= frames.length) {
									index = 0;
								}
								$(".real-time-example").html(frame.before + "<div class='cursor'>|</div>");
								setTimeout(nextFrame, frame.time);
							}
							nextFrame();
						})(); 
					.col-md-6
						.card.row-spaced
							.row
								.col-xs-2.text-center
									i.fa.fa-group.fa-4x.icon-accent(aria-hidden="true")
								.col-xs-10
									h2.h1 #{translate("collaboration")}
									p #{translate("work_on_single_version")} 
									p #{translate("view_collab_edits")} 
										span.real-time-example

					.col-md-6
						.card.row-spaced
							.row
								.col-md-2.col-md-push-10.col-xs-2.text-center
									i.fa.fa-thumbs-up.fa-4x.icon-accent(aria-hidden="true")
								.col-md-10.col-md-pull-2.col-xs-10
									h2.h1 #{translate("ease_of_use")}
									p #{translate("no_complicated_latex_install")}
									p !{translate("all_packages_and_templates", {templatesLink:"<a href='templates'>" + translate("templates").toLowerCase() + "</a>"})}

				.row
					.col-md-6
						.card.row-spaced
							.row
								.col-xs-2.text-center
									i.fa.fa-history.fa-4x.icon-accent(aria-hidden="true")
								.col-xs-10
									h2.h1 #{translate("document_history")}
									p.track-changes-example #{translate("see_what_has_been")}
										span.added #{translate("added")}
										|  #{translate("and")} 
										span.removed #{translate("removed")}
									p #{translate("restore_to_any_older_version")}

					.col-md-6
						.card.row-spaced
							.row
								.col-md-2.col-md-push-10.col-xs-2.text-center
									i.fa.fa-globe.fa-4x.icon-accent(aria-hidden="true")
								.col-md-10.col-md-pull-2.col-xs-10
									h2.h1 #{translate("work_from_anywhere")}
									p #{translate("acces_work_from_anywhere")}
									p #{translate("work_offline_and_sync_with_dropbox")}

			.row.row-spaced-large
				.col-md-12.text-center
					a(href="/user/subscription/plans").btn.btn-primary.btn-xl #{translate("sign_up_now")}!

			.row-spaced-large

	include ./_universities
	.content.content-alt
		.container
			.card
				.page-header
					h2 #{translate("ease_of_use")}

				.row.row-spaced
					.col-md-12
						.col-md-4.pull-right
							.alert.alert-alt
								p !{translate("over_x_templates_easy_getting_started", {templates: translate("templates"), over: translate("over")})}

								p.text-center(style="margin-top: 10px;")
									a(href="/templates").btn.btn-default #{translate("view_templates")}

						p !{translate("nothing_to_install_ready_to_go", {start_now:"<strong>" + translate("start_using_latex_now") + "</strong>"})}

						p #{translate("get_same_latex_setup")}
						p !{translate("support_lots_of_features", {help_guides_link:"<a href='/learn'>" + translate("latex_guides") + "</a>"})}.

			.card.row-spaced
				.page-header
					h2 #{translate("collaboration")}
				.row
					.col-md-8
						p
							| #{translate("single_version_easy_collab_blurb")}
						p
							| #{translate("can_see_collabs_type_blurb")}
					.col-md-4
						.real-time-example-code
							span.highlight \begin
							| {document}
							br
							br
							| #{translate("work_directly_with_collabs")} 
							span.real-time-example
							br
							br
							span.highlight \end
							| {document}

				h3 #{translate("work_with_word_users")}
				.row
					.col-md-12
						p #{translate("work_with_word_users_blurb")}

			.card.row-spaced
				.page-header
					h2 #{translate("document_history")}

				.row.row-spaced
					.col-md-4
						.real-time-example-code.track-changes-example.doc-history-example
							span.highlight \begin
							| {document}
							br
							br
							| #{translate("view_which_changes")} 
							span.added #{translate("added")}
							|  #{translate("and")} 
							span.removed #{translate("removed")}
							| .
							br
							br
							span.highlight \end
							| {document}
					.col-md-8
						p #{translate("sl_included_history_of_changes_blurb")}
						p #{translate("can_revert_back_blurb")}

			.row.row-spaced-large.text-center
				a(href="/user/subscription/plans").btn.btn-primary.btn-lg #{translate("start_using_sl_now")}

			.row-spaced-large
