extends ../../../../app/views/layout

block content
	.content.content-alt
		.container
			.row
				.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3
					.card
						.page-header
							h1 Merge Accounts
						form(
							async-form="account-merge",
							name="accountMergeForm"
							action="/account-merge/email/confirm",
							method="POST",
							id="accountMergeForm",
							auto-submit="true",
							ng-cloak
						)
							input(type="hidden", name="_csrf", value=csrfToken)
							input(type="hidden", name="token", value=token)
							form-messages(for="accountMergeForm")
								.alert.alert-success(ng-show="accountMergeForm.response.success")
									| Thank you, your accounts are now merged...
							p.text-center(ng-show="!accountMergeForm.response.success && !accountMergeForm.response.error")
								i.fa.fa-fw.fa-spin.fa-spinner(aria-hidden="true")
								|
								| Merging your accounts...
