extends ../layout

block vars
	- var suppressNavbar = true
	- var suppressFooter = true
	- metadata.robotsNoindexNofollow = true

block content
	.editor(ng-controller="IdeController").full-size
		.loading-screen(ng-if="state.loading")
			.loading-screen-brand-container
				.loading-screen-brand(
					style="height: 20%;"
					ng-style="{ 'height': state.load_progress + '%' }"
				)
			h3.loading-screen-label(ng-if="!state.error") #{translate("loading")}
				span.loading-screen-ellip .
				span.loading-screen-ellip .
				span.loading-screen-ellip .
			p.loading-screen-error(ng-if="state.error").ng-cloak
				span(ng-bind-html="state.error")

		.global-alerts(ng-cloak)
			.alert.alert-danger.small(ng-if="connection.forced_disconnect")
				strong #{translate("disconnected")}
				|  #{translate("please_refresh")}

			.alert.alert-warning.small(ng-if="connection.reconnection_countdown")
				strong #{translate("lost_connection")}.
				|  #{translate("reconnecting_in_x_secs", {seconds:"{{ connection.reconnection_countdown }}"})}.
				a#try-reconnect-now-button.alert-link-as-btn.pull-right(href, ng-click="tryReconnectNow()") #{translate("try_now")}

			.alert.alert-warning.small(ng-if="connection.reconnecting && connection.stillReconnecting")
				strong #{translate("reconnecting")}…

			.alert.alert-warning.small(ng-if="sync_tex_error")
				strong #{translate("synctex_failed")}.
				a#synctex-more-info-button.alert-link-as-btn.pull-right(
					href="/learn/how-to/SyncTeX_Errors"
					target="_blank"
				) #{translate("more_info")}

			.alert.alert-warning.small(ng-if="connection.inactive_disconnect")
				strong #{translate("editor_disconected_click_to_reconnect")}

			.alert.alert-warning.small(ng-if="connection.debug") {{ connection.state }}

			.div(ng-controller="SavingNotificationController")
				.alert.alert-warning.small(ng-repeat="(doc_id, state) in docSavingStatus" ng-if="state.unsavedSeconds > 8") #{translate("saving_notification_with_seconds", {docname:"{{ state.doc.name }}", seconds:"{{ state.unsavedSeconds }}"})}

			.div(ng-controller="SystemMessagesController")
				.alert.alert-warning.system-message(
					ng-repeat="message in messages"
					ng-controller="SystemMessageController"
					ng-hide="hidden"
				)
					button(ng-hide="protected",ng-click="hide()").close.pull-right
						span(aria-hidden="true") &times;
						span.sr-only #{translate("close")}
					.system-message-content(ng-bind-html="htmlContent")

		include ./editor/left-menu

		#chat-wrapper.full-size(
			layout="chat",
			spacing-open="{{ui.chatResizerSizeOpen}}",
			spacing-closed="{{ui.chatResizerSizeClosed}}",
			initial-size-east="250",
			init-closed-east="true",
			open-east="ui.chatOpen",
			ng-hide="state.loading",
			ng-cloak
		)
			.ui-layout-center
				include ./editor/header

				include ./editor/share
				!= moduleIncludes("publish:body", locals)

				include ./editor/history/toolbarV2.pug

				main#ide-body(
					ng-cloak,
					role="main",
					ng-class="{ 'ide-history-open' : (ui.view == 'history' && history.isV2) }",
					layout="main",
					ng-hide="state.loading",
					resize-on="layout:chat:resize,history:toggle",
					minimum-restore-size-west="130"
					custom-toggler-pane=hasFeature('custom-togglers') ? "west" : false
					custom-toggler-msg-when-open=hasFeature('custom-togglers') ? translate("tooltip_hide_filetree") : false
					custom-toggler-msg-when-closed=hasFeature('custom-togglers') ? translate("tooltip_show_filetree") : false
				)
					.ui-layout-west
						include ./editor/file-tree
						include ./editor/history/fileTreeV2

					.ui-layout-center
						include ./editor/editor
						include ./editor/binary-file
						include ./editor/history

			.ui-layout-east
				if !isRestrictedTokenMember
					include ./editor/chat

	include ./editor/hotkeys

	script(type="text/ng-template", id="genericMessageModalTemplate")
		.modal-header
			button.close(
				type="button"
				data-dismiss="modal"
				ng-click="done()"
				aria-label="Close"
			)
				span(aria-hidden="true") &times;
			h3 {{ title }}
		.modal-body(ng-bind-html="message")
		.modal-footer
			button.btn.btn-info(ng-click="done()") #{translate("ok")}

	script(type="text/ng-template", id="outOfSyncModalTemplate")
		.modal-header
			button.close(
				type="button"
				data-dismiss="modal"
				ng-click="done()"
				aria-label="Close"
			)
				span(aria-hidden="true") &times;
			h3 {{ title }}
		.modal-body(ng-bind-html="message")

		.modal-body
			button.btn.btn-info(
				ng-init="showFileContents = false"
				ng-click="showFileContents = !showFileContents"
			)
				| {{showFileContents ? "Hide" : "Show"}} Local File Contents
			.text-preview(ng-show="showFileContents")
				.scroll-container
					| {{editorContent}}

		.modal-footer
			button.btn.btn-info(ng-click="done()") #{translate("ok")}

	script(type="text/ng-template", id="lockEditorModalTemplate")
		.modal-header
			h3 {{ title }}
		.modal-body(ng-bind-html="message")

	meta(id="ol-useV2History" data-boolean content=useV2History)
	meta(id="ol-project_id" content=project_id)
	meta(id="ol-userSettings" data-json content=userSettings)
	meta(id="ol-user" data-json content=user)
	meta(id="ol-anonymous" content=anonymous)
	meta(id="ol-brandVariation" content=brandVariation)
	meta(id="ol-anonymousAccessToken" content=anonymousAccessToken)
	meta(id="ol-isTokenMember" data-boolean content=!!isTokenMember)
	meta(id="ol-isRestrictedTokenMember" data-boolean content=!!isRestrictedTokenMember)
	meta(id="ol-maxDocLength" content=maxDocLength)
	meta(id="ol-trackChangesState" data-json content=trackChangesState)
	meta(id="ol-wikiEnabled" data-boolean content=!!(settings.apis.wiki && settings.apis.wiki.url))
	meta(id="ol-gitBridgePublicBaseUrl" content=gitBridgePublicBaseUrl)
	meta(id="ol-uiConfig" data-json content=uiConfig)
	meta(id="ol-useShareJsHash" data-boolean content=true)
	meta(id="ol-overallThemes" data-json content=overallThemes)

block foot-scripts
	script(type='text/javascript', defer, src=(wsUrl || '/socket.io') + '/socket.io.js')
	script(type='text/javascript', defer, src=buildJsPath('libraries.js'), onerror='disableCDN()')
	script(type='text/javascript', defer, src=buildJsPath('ideLibraries.js'), onerror='disableCDN()')
	script(type='text/javascript', defer, src=buildJsPath('ide.js'), onerror='disableCDN()')
