li(ng-controller="TemplatesController", ng-show="permissions.admin && project.features.templates")
	a(ng-click="openPublishTemplateModal()")
		i.fa.fa-external-link.fa-fw 
		| &nbsp;&nbsp; #{translate("publish_as_template")}

script(type="text/ng-template", id="publishProjectAsTemplateModalTemplate")
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3 #{translate("publish_as_template")}
	.modal-body.modal-body-share
		if !hasFeature('view-templates')
			.alert.alert-warning
				| This template publishing system is deprecated in Overleaf v2 and will
				| soon be replaced by a moderated submission process to our public
				| gallery. In the meantime, please contact support if you would like to
				| publish a template to our public gallery. To share templates
				| privately, please enable link sharing in the Share menu and share the
				| read only link.
