span(ng-controller="DropboxController")
	ul.list-unstyled.nav()
		li
			a(ng-click="openDropboxModal()")
				i.fa.fa-dropbox.fa-fw
				| &nbsp;&nbsp; Dropbox

script(type="text/ng-template", id="dropboxModalTemplate")
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3 #{translate("dropbox_sync")}
	.modal-body.modal-body-share

		div(ng-show="dbState.gotLinkStatus")
			div(ng-hide="dbState.userIsLinkedToDropbox || !dbState.hasDropboxFeature")

				span(ng-hide="dbState.startedLinkProcess") #{translate("account_not_linked_to_dropbox")}
					| &nbsp; &nbsp;
					a(ng-click="linkToDropbox()").btn.btn-info #{translate("update_dropbox_settings")}

				p.small.text-center(ng-show="dbState.startedLinkProcess")
					| #{translate("refresh_page_after_starting_free_trial")}


			div(ng-show="dbState.hasDropboxFeature && dbState.userIsLinkedToDropbox")
				p.small
					| #{translate("this_project_will_appear_in_your_dropbox_folder_at")}
					strong apps/sharelatex/{{ project.name }}
			div(ng-hide="dbState.hasDropboxFeature")
				p.text-center #{translate("upgrade_to_get_feature", {feature:"Dropbox Sync"})}
				.row
					.col-md-8.col-md-offset-2
						ul.list-unstyled
							li 
								i.fa.fa-check &nbsp;
								| #{translate("unlimited_projects")}
							
							li
								i.fa.fa-check &nbsp;
								| #{translate("collabs_per_proj", {collabcount:'Multiple'})}
							
							li 
								i.fa.fa-check &nbsp;
								| #{translate("full_doc_history")}
							
							li 
								i.fa.fa-check &nbsp;
								| #{translate("sync_to_dropbox")}

							li 
								i.fa.fa-check &nbsp;
								| #{translate("sync_to_github")}

							li  
								i.fa.fa-check &nbsp;
								|#{translate("compile_larger_projects")}

				p.text-center.row-spaced-thin(ng-controller="FreeTrialModalController")
					a.btn.btn-success(
						href
						ng-class="buttonClass"
						sixpack-convert="track_changes_feature_info"
						ng-click="startFreeTrial('dropbox')"
					) #{translate("start_free_trial")}

				p.small(ng-show="startedFreeTrial")
					| #{translate("refresh_page_after_starting_free_trial")}

		div(ng-hide="dbState.gotLinkStatus")
			i.fa.fa-refresh.fa-spin 
			span.small &nbsp; #{translate("checking_dropbox_status")}

	.modal-footer()
		button.btn.btn-default(
			ng-click="cancel()",
		)
			span #{translate("dismiss")}
