script(type='text/ng-template', id='deleteUsersModalTemplate')
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3 #{translate("delete")} User
	.modal-body
		div
			p You are about to delete the following users:
			ul
				li(ng-repeat="user in users | orderBy:'first_name'")
					strong {{user.first_name}}
	.modal-footer
		button.btn.btn-default(
			ng-click="cancel()"
		) #{translate("cancel")}
		button.btn.btn-danger(
			ng-click="delete()"
		) #{translate("delete")}

script(type='text/ng-template', id='deleteSecondaryEmailModalTemplate')
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3 Delete secondary email
	.modal-body
		div
			p You are about to delete the follow secondary emails
			ul
				li(ng-repeat="user in users | orderBy:'first_name'")
					strong {{user.email}}
	.modal-footer
		button.btn.btn-default(
			ng-click="cancel()"
		) #{translate("cancel")}
		button.btn.btn-danger(
			ng-click="delete()"
		) #{translate("delete")}


script(type='text/ng-template', id='unlinkOlModalTemplate')
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3 Unlink Overleaf ID
	.modal-body
		div
			p You are about to unlink these accounts to their Overleaf v1 linked account
			ul
				li(ng-repeat="user in users | orderBy:'first_name'")
					strong {{user.first_name}}
	.modal-footer
		button.btn.btn-default(
			ng-click="cancel()"
		) #{translate("cancel")}
		button.btn.btn-danger(
			ng-click="unlink()"
		) #{translate("Unlink")}