hr

h3
	| #{translate("mendeley_integration")}

- if (!user.features.mendeley)
	p.small #{translate("mendeley_sync_description")}
	.alert.alert-info
		p #{translate("mendeley_is_premium")}
		p
			a.btn.btn-info(href='/user/subscription/plans') #{translate("upgrade")}
- else if(user.mendeley)
	p you are linked
	p
		a(
			href, 
			ng-click="unlinkAccount()",
			ng-controller="MendeleyUnlinkController"
		)  #{translate("unlink_to_mendeley")}
- else
	p.small #{translate("mendeley_sync_description")}
	p.small #{translate("link_to_mendeley_description")}
	p
		a(href='/mendeley/oauth').btn.btn-info #{translate("link_to_mendeley")}
		
script(type="text/ng-template", id="mendeleyUnlinkModalTemplate")

	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="$dismiss()"
		) &times;
		h3 #{translate("unlink_mendeley")}
	.modal-body
		p #{translate("unlink_mendeley_warning")}
	
	.modal-footer()
		button.btn.btn-default(
			ng-click="$dismiss()",
		)
			span #{translate("cancel")}
		| 
		form(action="/mendeley/unlink", method="POST", style="display: inline;")
			input(type="hidden", name="_csrf", value=csrfToken)
			button.btn.btn-info(
				type="submit"
			) #{translate("unlink")}