each item in ['mendeley','refme']
	hr

	h3
		| #{translate(item+"_integration")}

	- var feature = false
	- var option = false
	- if (item == 'mendeley') 
		- feature = user.features.mendeley
		- option = user.mendeley
	- if (item == 'refme') 
		- feature = user.features.refme
		- option = user.refme

	- if (!feature)
		p.small #{translate(item+"sync_description")}
		.alert.alert-info
			p #{translate(item+"_is_premium")}
			p
				a.btn.btn-info(href='/user/subscription/plans') #{translate("upgrade")}
	- else if(option)
		p you are linked
		p
			a(
				href, 
				ng-click="unlinkAccount('#{item}')",
				ng-controller="MendeleyUnlinkController"
			)  #{translate("unlink_to_"+item)}
	- else
		p.small #{translate(item+"_sync_description")}
		p.small #{translate("link_to_"+item+"_description")}
		p
			a(href='/#{item}/oauth').btn.btn-info #{translate("link_to_"+item)}
		
script(type="text/ng-template", id="mendeleyUnlinkModalTemplate")

	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="$dismiss()"
		) &times;
		h3 #{translate("unlink_reference")} {{provider}}
	.modal-body
		p #{translate("unlink_warning_reference")} {{provider}}
	
	.modal-footer()
		button.btn.btn-default(
			ng-click="$dismiss()",
		)
			span #{translate("cancel")}
		| 
		form(action="{{providerUnlink}}", method="POST", style="display: inline;")
			input(type="hidden", name="_csrf", value=csrfToken)
			button.btn.btn-info(
				type="submit"
			) #{translate("unlink")}