h2  User Info

img(src="http://www.gravatar.com/avatar/{{user.gravatar}}.jpg?s=140")

.span
	label  User ID
	p.small {{user._id}}

.span
	label  #{translate("email")}
	p.small {{user.email}}

.span
	label #{translate("first_name")}
	p.small {{user.first_name}}

.span
	label #{translate("last_name")}
	p.small {{user.last_name}}

.span
	label #{translate("links")}
	ul.list-unstyled
		li
			a(href="/admin/user/{{user._id}}") User Projects
		li
			a(href="/admin/user/graph/{{user._id}}?level=1") User Graph
	
.span
	label #{translate("sharelatex_beta_program")}
	p.small(ng-if="user.betaProgram")
		| #{translate("user_in_beta_program")}
	div(ng-if="!user.betaProgram")
		a.btn.btn-primary(ng-click="enableBetaForUser()")
			span #{translate("enable_beta")}
	div.small.alert.alert-danger(ng-if="enableBetaError")
		| #{translate("error")}