.row
	.col-xs-12
		form.user-search.form-horizontal(role="form")
			.form-group.has-feedback.has-feedback-left.col-md-7.col-xs-12
				input.form-control.col-md-7.col-xs-12(
					placeholder="Search users...",
					autofocus='autofocus',
					ng-model="searchText",
					focus-on='search:clear',
					ng-keyup="searchUsers()"
				)
				i.fa.fa-search.form-control-feedback-left
				i.fa.fa-times.form-control-feedback(
					ng-click="clearSearchText()",
					style="cursor: pointer;",
					ng-show="searchText.length > 0"
				)
		.user-tools(ng-cloak)
			.btn-toolbar
				.btn-group(ng-hide="selectedUsers.length < 1")
					a.btn.btn-default(
						href='#',
						tooltip="#{translate('delete')}",
						tooltip-placement="bottom",
						tooltip-append-to-body="true",
						ng-click="openDeleteUsersModal()"
					)
						i.fa.fa-trash-o
				if !externalAuthenticationSystemUsed()
					.btn-group(ng-hide="selectedUsers.length != 1")
						a.btn.btn-default(
							href='#',
							tooltip="#{translate('set_password')}",
							tooltip-placement="bottom",
							tooltip-append-to-body="true",
							ng-click="openSetPasswordModal()"
						)
							i.fa.fa-key

.row.row-spaced
	.col-xs-12
		.card.card-thin.user-list-card
			ul.list-unstyled.user-list.structured-list(
				select-all-list,
				max-height="userListHeight - 25",
				ng-cloak
			)
				li.container-fluid
					.row
						.col-xs-4
							input.select-all(
								select-all,
								type="checkbox"
							)
							span.header.clickable(ng-click="changePredicate('email')") Email 
								i.tablesort.fa(ng-class="getSortIconClass('email')")
						.col-xs-3
							span.header.clickable(ng-click="changePredicate('first_name')") Name 
								i.tablesort.fa(ng-class="getSortIconClass('first_name')")
						.col-xs-3
							span.header.clickable(ng-click="changePredicate('loginCount')") Last logged in 
								i.tablesort.fa(ng-class="getSortIconClass('loginCount')")
						.col-xs-2
							span.header.clickable(ng-click="changePredicate('lastLoggedIn')") Login Count 
								i.tablesort.fa(ng-class="getSortIconClass('lastLoggedIn')")
				li.user_entry.container-fluid(
					ng-repeat="user in visibleUsers",
					ng-controller="UserListItemController"
				)
					.row
						.col-xs-4
							input.select-item(
								select-individual,
								type="checkbox",
								ng-model="user.selected"
							)
							span.owner 
								a.userName(href="/admin/user/{{user._id}}") {{user.email}}
						.col-xs-3
							span
								a.userName(href="/admin/user/{{user._id}}") {{user.first_name}}
						.col-xs-3
							span.last-loggedin {{user.lastLoggedIn | formatDate}}
						.col-xs-2
							span.owner {{user.loginCount}}
							
				li(
					ng-if="visibleUsers.length == 0",
					ng-cloak
				)
					.row
						.col-xs-12.text-centered
							small No Users
.row.row-spaced(
	ng-show="visibleUsers.length > 14"
)
	.col-xs-12.text-centered
		span Search limit has been reached. For more users, improve your filter.
ul.pager(
	ng-if="pages > 1",
	ng-show="false"
)
	li(
		ng-repeat="page in pagesList",
		ng-class="{active: (page == pageSelected)}"
	)
		a(href, ng-click="changePage(page)") {{page}}

