mixin contact-form(showAffectedProjectUrl, showContactFormSuggestions = true, inbox = 'support')
	div(
		ng-cloak
		ng-controller="ContactFormController"
		ng-init="showContactFormSuggestions = " + showContactFormSuggestions + "; inbox = '" + inbox + "'"
	)
		form(name="contactForm" role="form" aria-label=translate("contact_us"))
			span(ng-show="sent == false")
				.alert.alert-danger(aria-live="polite" ng-show="error") #{translate('generic_something_went_wrong')}

				label
					| #{translate("subject")}
				.form-group
					input.field.text.medium.span8.form-control(
						aria-label=translate("subject")
						name="subject"
						required
						autocomplete="off"
						ng-model="form.subject"
						ng-model-options="{ updateOn: 'default blur', debounce: {'default': 350, 'blur': 0} }"
						maxlength='255')
			
				.contact-suggestions(ng-show="suggestions.length > 0" )
					p.contact-suggestion-label(aria-live="polite") !{translate("kb_suggestions_enquiry", { kbLink: "<a href='/learn/kb' target='_blank'>" + translate("knowledge_base") + "</a>" })}
					ul.contact-suggestion-list(aria-role="region" aria-label=translate('help_articles_matching'))
						li(ng-repeat="suggestion in suggestions")
							a.contact-suggestion-list-item(ng-href="{{ suggestion.url }}", ng-click="clickSuggestionLink(suggestion.url);" target="_blank")
								span(ng-bind-html="suggestion.name")
								i.fa.fa-angle-right(aria-hidden="true")

				label.desc(ng-show="'"+getUserEmail()+"'.length < 1")
					| #{translate("email")}
				.form-group(ng-show="'"+getUserEmail()+"'.length < 1")
					input.field.text.medium.span8.form-control(
						aria-label=translate("email")
						name="email",
						required,
						ng-model="form.email",
						ng-init="form.email = '"+getUserEmail()+"'",
						type='email', spellcheck='false',
						value='',
						maxlength='255')

				if showAffectedProjectUrl
					label#title12.desc
						| #{translate("project_url")} (#{translate("optional")})
					.form-group
						input.field.text.medium.span8.form-control(aria-label=translate("project_url") + ' ' + translate("optional"), ng-model="form.project_url")

				label.desc
					| #{translate("contact_message_label")}
				.form-group
					textarea.field.text.medium.span8.form-control(
						aria-label=translate("contact_message_label")
						name="body",
						required
						ng-model="form.message",
						type='text',
						value=''
					)
				.form-group.text-center
					input.btn-success.btn.btn-lg(
						aria-label=translate('contact_us')
						type='submit',
						ng-disabled="contactForm.$invalid || sending",
						ng-click="contactUs()"
						value=translate("contact_us")
					)

		span(ng-show="sent")
			p #{translate("request_sent_thank_you")}
