include ./_form

script(type='text/ng-template', id='contactModalTemplate')
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="close()"
			aria-label="Close"
		)
			span(aria-hidden="true") &times;
		h3 #{translate("contact_us")}
	.modal-body.contact-us-modal
		+contact-form(true)