#editor-rich-text(
  cm-editor,
  ng-if="editor.showRichText && richText.bundle",
  ng-show="!!editor.sharejs_doc && !editor.opening",
  editor="richText.editor",
  init-code-mirror="initCodeMirror",
  sharejs-doc="editor.sharejs_doc",
  resize-on="layout:main:resize,layout:pdf:resize,layout:review:resize,review-panel:toggle",
  spell-check="!anonymous",
  spell-check-language="project.spellCheckLanguage"
)