.toolbar.toolbar-editor(ng-controller="EditorToolbarController")
  .toggle-wrapper
    toggle-switch(
      description="Editor mode."
      label-false="Source"
      label-true="Rich Text"
      ng-model="editor.showRichText"
    )

  button-measurer(
    buttons="buttons"
    opening="editor.opening"
    resize-on="layout:main:resize,layout:pdf:resize,layout:review:resize,review-panel:toggle",
  )
