.row.hidden-print
	.col-sm-12
		.content-item.text-center
			h3 You've joined
				+community_count(team.current_count, portal.title)

			p  Welcome to the #{portal.title} portal on #{settings.appName}! This is a temporary portal to provide more information about institutional accounts on #{settings.appName}.

			p A #{portal.title} institutional account will provide <strong>#{settings.appName} Pro+ accounts</strong> for students, faculty, researchers and staff.