.row
	.col-sm-12.text-center
		h3 Join&nbsp;
			+community_count(team.current_count, portal.title)

include ../team/_sign_in_or_affiliate

.row.row-spaced
	.col-sm-12
		.content-item
			p #{settings.appName} is an online LaTeX and Rich Text collaborative writing and publishing tool that makes the whole process of writing, editing and publishing scientific documents much quicker and easier.

			p Would you like to see an #{settings.appName} Institutional Account at #{portal.title}? You can use #{settings.appName} for free, but a #{portal.title} institutional account will provide #{settings.appName} Pro+ accounts for you and your fellow students, faculty, researchers and staff. In addition to all the features of the free account, Pro+ benefits include:

include ./_pro_benefits

.row
	.col-sm-12
		.content-item
			p Add your #{portal.title} email to your free account today to join&nbsp;
				+community_count(team.current_count, portal.title)
				| .