span(ng-controller="EnagoController")
	ul.list-unstyled.nav()
		li
			a(ng-click="openEnagoModal()")
				i.fa.fa-pencil.fa-fw
				| &nbsp;&nbsp; #{translate("editing_by_enago")}

script(type="text/ng-template", id="enagoModalTemplate")
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3 #{translate("enago_editing_services")}
	.modal-body.modal-body-share

		.row
			.col-md-7.col-xs-7

				div !{translate("sharelatex_partnered_with_company_variety_of_services", {companyname:"<a href='http://www.sharelatex.enago.com'>Enago</a>"})}
			.col-md-5.col-xs-5
				img(src="/img/enago.png")


		.row
			.col-md-12.col-xs-12
				div.services
					h2
						a(href="http://www.sharelatex.enago.com/language-check.htm", target="_blank" ng-click='enagoLink("language-check")') #{translate("language_check")}
					p  #{translate("one_round_of_checking")}
		.row
			.col-md-12.col-xs-12
				div.services
					hr.small
					h2
						a(href="http://www.sharelatex.enago.com/copyediting.htm", target="_blank" ng-click='enagoLink("copyediting")') #{translate("copy_editing")}
					p #{translate("thorough_and_complete_language_check")}
		.row
			.col-md-12.col-xs-12
				div.services
					hr.small
					h2
						a(href="http://www.sharelatex.enago.com/substantive-editing.htm", target="_blank" ng-click='enagoLink("substantive-editing")') #{translate("substantive_editing")}
					p #{translate("substantive_editing_details")}
		.row
			.col-md-12.col-xs-12
				div.services
					hr.small
					h2
						a(href="http://www.sharelatex.enago.com/tex-latex-format.htm", target="_blank" ng-click='enagoLink("tex-latex-format")') #{translate("formatting")}
					p #{translate("formetted_in_tex_or_ms")}
			

	.modal-footer()

		a.btn.btn-info(href="http://www.sharelatex.enago.com", target="_blank" ng-click='enagoLink("footer-button")')
			span #{translate("visit_enago")}
