extends ../../_layout

block content
	.content.content-alt
		.container
			.row
				.col-md-8.col-md-offset-2
					.card.project-invite-accept
						.page-header.text-centered
							meta(id="ol-projectInviteContext" data-json content={username: owner.first_name, projectname: project.name})
							h1(ng-cloak) {{translate("user_wants_you_to_see_project", getMeta("ol-projectInviteContext"))}}
						.row.text-center
							.col-md-12
								p(ng-cloak)
									| {{translate("accepting_invite_as")}}&nbsp;
									em(ng-non-bindable) #{currentUsersEmail}
						.row
							.col-md-12
								form.form(
									name="acceptForm",
									method="POST",
									action="/project/"+invite.projectId+"/invite/token/"+invite.token+"/accept"
								)
									input(name='_csrf', type='hidden', value=csrfToken)
									input(name='token', type='hidden', value=invite.token)
									.form-group.text-center
										button.btn.btn-lg.btn-primary(type="submit" ng-cloak)
											| {{translate("join_project")}}
									.form-group.text-center
