extends ../../../../app/views/layout
include ../../../../app/views/_mixins/links
include ../../../../app/views/_mixins/faq_search
include _mixins

block vars
	- metadata = metadata || {}

block content
	//- to do? image as env var
	- var defaultPortalBannerImage = buildImgPath('portal-default.jpg')
	- var backgroundImage = portal.banner_image_url ? portal.banner_image_url : defaultPortalBannerImage
	if brandVariation
		+branded(brandVariation)
	else
		.content.content-alt.content-portal.content-page
			main(ng-cloak, id="university-content-container" class=print ? 'print' : '')
				div.banner-image.hidden-print(style=`background-image:url(${backgroundImage})`)
				if portal.logo_url
					div.institution-logo
						div
							span.image-fill
							img(src=portal.logo_url alt=portal.title)

				.portal-name.container
					h1.text-center #{portal.title} on #{settings.appName}

				if portal.paid
					include _portal_paid
				else
					include _portal_unpaid

block requirejs
	script(
			src=buildWebpackPath('es/metrics.js', {hashedPath:settings.useMinifiedJs})
			type="text/javascript"
		)

	script(type="text/javascript").
		$(function() {
			Frontend.metrics.chartApp.init()
			setTimeout(Frontend.metrics.portal.getDataAndInitCharts, 1000)
		})

	script(type='text/javascript').
		// minimal requirejs configuration (can be extended/overridden)
		window.requirejs = {
			"paths" : {
				"moment": "libs/#{lib('moment')}",
				"fineuploader": "libs/#{lib('fineuploader')}",
				"main": "#{buildJsPath('main.js', {hashedPath:settings.useMinifiedJs, removeExtension:true})}",
				"libraries": "#{buildJsPath('libraries.js', {hashedPath:settings.useMinifiedJs, removeExtension:true})}",
			},
			"config":{
				"moment":{
					"noGlobal": true
				}
			}
		}
	script(
		data-main=buildJsPath('main.js', {hashedPath:false}),
		baseurl=fullJsPath,
		src=buildJsPath('libs/require.js', {hashedPath:true})
	)
