script(type='text/ng-template', id='viewInV1ModalTemplate')
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="$dismiss('cancel')"
		) &times;
		h3 Open Template
	.modal-body
		p Projects created from this template have extra features that are specific to the template, which are currently only in Overleaf v1. We are working to bring these features to Overleaf v2. You can open the template in Overleaf v1 or Overleaf v2.
			.row.text-center.cta-links
					a(href=settings.overleaf.host + open_in_v2_links.main.v1 class="btn btn-success cta-link") Open in v1
					a(href=open_in_v2_links.main.v2 class="btn btn-info cta-link") Try it in v2
	.modal-footer
		button.btn.btn-default(ng-click="$dismiss('cancel')") Close
