mixin doc_rows(docs)
	.row.row-spaced
		.col-sm-12
			+templates_list(docs)

mixin pagination(pages)
	ul.pagination
		each page in pages
			if page.active
				li
					span.active #{page.text}
			else
				li
					if page.rel
						a(href=page.href rel=page.rel) #{page.text}
					else
						a(href=page.href) #{page.text}

mixin templates_list(templates)
	.templates-container
		each template in templates
			.template-thumbnail
				a(href=template.path)
					img.thumbnail(src=template.image_url alt=template.title)
					.caption__title #{template.title}
				div.caption
					div.caption__description=template.description_plain
					//- sanitized by api
					div!= template.author