extends ../../../../app/views/layout

block vars
	- metadata = metadata || {}

block content

	main.content(ng-controller="TemplatePageController")
		.container
			.row
				.col-md-6
					.row
						.col-md-12
							h1.template-title #{pub.title}
					.row.cta-links
						.col-md-12
							if open_in_v2_links && source
								if brand_variation_id
									a(ng-click="openViewInV1Modal()" class="btn btn-success cta-link") Open as Template
								else
									a(href=open_in_v2_links.main.v2 class="btn btn-success cta-link") Open as Template
							if source
								a(href, ng-click="openViewSourceModal()" class="btn btn-success cta-link") View Source
							if pub.pdf_url
								a(href=pub.pdf_url class="btn btn-success cta-link") Download PDF
					.row.row-spaced
						.col-md-3.field-title Author
						//- sanitized by api
						.col-md-9!= pub.author
					if pub.read_only_views
						.row
							.col-md-3.field-title View Count
							.col-md-9 #{pub.read_only_views}
					.row
						.col-md-3.field-title License
						.col-md-9 #{pub.license}
					if pub.description
						mathjax
							.row
								.col-md-3.field-title Abstract
								//- sanitized by api
								.col-md-9.abstract!= pub.description
					if pub_tags.length
						.row.section-tags
							.col-md-3.field-title Tags
							.col-md-9
								each tag in pub_tags
									a(href=tag.path class="btn btn-info btn-sm tag-link") #{tag.title}
						.row
							.col-sm-12
								a(href=find_more.href) #{find_more.text}
				.col-md-6
					.entry
						.row
							.col-md-12
								.template-large-pdf-preview
									img(src=pub.image_url alt=pub.title)

			// TODO: Fully-featured Previous Versions section
			//- if old_versions && old_versions.length
			//- 	.row
			//- 		.col-sm-12
			//- 			h2 Previous Versions
			//- 		.col-sm-12
			//- 			.row
			//- 				each old_version in old_versions
			//- 					.col-md-6
			//- 						h3 #{old_version.title}
			//- 						.row
			//- 							.col-md-3.field-title Author
			//- 							//- sanitized by api
			//- 							.col-md-9!= old_version.author
			//- 						.row
			//- 							.col-md-3.field-title License
			//- 							.col-md-9 #{old_version.license}
			//- 						.row
			//- 							.col-md-3.field-title Abstract
			//- 							//- sanitized by api
			//- 							.col-md-9!= old_version.description
			//- 						if old_version.open_link
			//- 							a(href=old_version.open_link) Open as Template

	script(type='text/ng-template', id='viewSourceModalTemplate')
		.modal-header
			button.close(
				type="button"
				data-dismiss="modal"
				ng-click="$dismiss('cancel')"
			) &times;
			h3 Source
		.modal-body
			pre
				code(ng-non-bindable) #{source}
		.modal-footer
			button.btn.btn-default(ng-click="$dismiss('cancel')") Close

	script(type='text/ng-template', id='viewInV1ModalTemplate')
		.modal-header
			button.close(
				type="button"
				data-dismiss="modal"
				ng-click="$dismiss('cancel')"
			) &times;
			h3 Open Template
		.modal-body
			p Projects created from this template have extra features that are specific to the template, which are currently only in Overleaf v1. We are working to bring these features to Overleaf v2. You can open the template in Overleaf v1 or Overleaf v2.
				.row.text-center.cta-links
						a(href=settings.overleaf.host + open_in_v2_links.main.v1 class="btn btn-success cta-link") Open in v1
						a(href=open_in_v2_links.main.v2 class="btn btn-info cta-link") Try it in v2
		.modal-footer
			button.btn.btn-default(ng-click="$dismiss('cancel')") Close

	script(src=mathJaxPath)