
doctype html
html(
	lang=(currentLngCode || 'en')
)
	- metadata = metadata || {}
	block vars

	head
		include ./_metadata.pug
		style [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak  {display: none !important; display: none; }

		-if (typeof(gaExperiments) != "undefined")
			|!{gaExperiments}

		//- Stylesheet
		link(rel='stylesheet', href=buildCssPath(themeModifier), id="main-stylesheet")

		block _headLinks

		if settings.i18n.subdomainLang
			each subdomainDetails in settings.i18n.subdomainLang
				if !subdomainDetails.hide
					link(rel="alternate", href=getTranslationUrl(subdomainDetails), hreflang=subdomainDetails.lngCode)

		meta(id="ol-staticPath", content=staticPath('/'))
		meta(id="ol-csrfToken" content=csrfToken)
		meta(id="ol-appName" content=settings.appName)

		block head-scripts

		meta(id="ol-usersEmail" content=getUserEmail())
		meta(id="ol-sharelatex" data-json content={
				siteUrl: settings.siteUrl,
			})
		meta(id="ol-user_id" content=getLoggedInUserId())

		- if (typeof(settings.algolia) != "undefined")
			meta(id="ol-sharelatex.algolia" data-json content={
					app_id: settings.algolia.app_id,
					api_key: settings.algolia.read_only_api_key,
					indexes: settings.algolia.indexes
				})

		- if (typeof(settings.templates) != "undefined")
			meta(id="ol-sharelatex.templates" data-json content={
					user_id : settings.templates.user_id,
					cdnDomain : settings.templates.cdnDomain,
					indexName : settings.templates.indexName
				})


	body(ng-csp="no-unsafe-eval")
		if(settings.recaptcha && settings.recaptcha.siteKeyV3)
			meta(id='ol-recaptchaSiteKeyV3' content=settings.recaptcha.siteKeyV3)
			script(type="text/javascript", src="https://www.google.com/recaptcha/api.js?render="+settings.recaptcha.siteKeyV3)


		- if(typeof(suppressNavbar) == "undefined")
			include layout/_navbar

		block content

		- if(typeof(suppressFooter) == "undefined")
			include layout/_footer

		!= moduleIncludes("contactModal", locals)
		include _sentry

		block foot-scripts
			script(type='text/javascript' defer src=buildJsPath(`t/${currentLngCode}.js`))
			each file in entrypointSources('main')
				script(type='text/javascript' defer src=file)
