extends ../../../../app/views/layout

block content
	.content.content-alt
		.container
			.row
				.col-md-5.col-md-offset-3
					.card
						.page-header
							h1 Move Over to Overleaf
						p.text-center
							img(
								src="/img/ol_plus_sl.png"
								style="width: 50%"
							)

						div
							p
								| Good news! Overleaf and ShareLaTeX have joined forces to bring
								| you Overleaf v2, which combines the best of both services.
								| Coming from ShareLaTeX, Overleaf v2 will be very familiar,
								| because it's built around the ShareLaTeX editor.
							p
								| You can access all your ShareLaTeX projects through Overleaf
								| v2. 
								if hasSubscription
									| Your Collaborator / Professional subscription will also be
									| transferred automatically to Overleaf v2.

							hr

							.row
								.col-md-12.form-group(ng-controller="AccountMergeCheckerController")
									h4(style="margin-top: 0;") Do you already have an Overleaf account?

									.radio
										input(
											type="radio"
											id="yes-ol-account"
											name="account-checker"
											ng-model="hasOlAccount"
											ng-value="true"
											checked
										)
										label(for="yes-ol-account") Yes, I also have an Overleaf account
									.radio
										input(
											type="radio"
											id="no-ol-account"
											name="account-checker"
											ng-model="hasOlAccount"
											ng-value="false"
										)
										label(for="no-ol-account") No, I only have a ShareLaTeX account

									.row(ng-if="hasOlAccount" ng-cloak style="margin-top: 25px;")
										.col-md-12
											p
												| We didn't find an Overleaf account for #[strong #{email}].
												| If you have an Overleaf account under a different
												| email address, please #[a(href="https://www.overleaf.com/users/edit#details") change your email address on Overleaf to #[strong #{email}]]
												| and then come back to sharelatex.com to merge your
												| accounts.

									.row(ng-if="!hasOlAccount" ng-cloak style="margin-top: 25px;")
										.col-md-12
											p
												| OK, let's #[a(href="/user/auth_with_ol_v2") move your ShareLaTeX account to Overleaf]
												| now. It will only take a few seconds.

											p.text-center
												a.btn.btn-lg.btn-primary(href="/user/auth_with_ol_v2") Get Started with Overleaf v2
