extends ../../../../app/views/layout

block content
	.content.content-alt
		.container
			.row
				.col-md-8.col-md-offset-2
					.card
						.page-header
							h1 Moving to Overleaf v2
						p.text-center
							img(
								src="/img/ol_plus_sl.png"
								style="width: 50%"
							)

						div
							p
								| Good news! Overleaf and ShareLaTeX have joined forces to bring
								| you Overleaf v2, which combines the best of both services.
							p
								| You can access all your projects through Overleaf v2. If you
								| have a ShareLaTeX account, you can also access your ShareLaTeX
								| projects through Overleaf v2.
						hr

						.row
							.col-md-12.form-group(ng-controller="OverleafAccountMergeCheckerController")
								h4(style="margin-top: 0;") Do you already have a ShareLaTeX account?

								.radio
									input(
										type="radio"
										id="yes-sl-account"
										name="account-checker"
										ng-model="hasSlAccount"
										value="has-sl-account"
									)
									label(for="yes-sl-account") Yes, I also have a ShareLaTeX account
								.radio
									input(
										type="radio"
										id="no-sl-account"
										name="account-checker"
										ng-model="hasSlAccount"
										value="has-no-sl-account"
									)
									label(for="no-sl-account") No, I only have a Overleaf account

								.row(ng-show="hasSlAccount == 'has-sl-account'" ng-cloak style="margin-top: 25px;")
									.col-md-12
										p
											| We didn't find a ShareLaTeX account for #[strong #{email}].
											| Do you use ShareLaTeX with a different email? Please enter it below, and
											| we will send an email to that address with a link to merge your accounts together.
										p
											| #[strong After the accounts are merged, you will use your Overleaf v1 email and password] to
											| log in to Overleaf v2, and the projects from both of your old accounts will be available on
											| your dashboard.

										p
											| To proceed with the account merge, enter your ShareLaTeX email below:

										div.row
											div.col-md-12
												form(name="ol-email-merge")
													.form-group
														label.hidden ShareLaTeX Account Email
														input(
															type="email"
															required
															placeholder="email@example.com"
															ng-model-options="{ updateOn: 'blur' }"
															name="sl-email"
															id="sl-email"
															ng-model="slEmail"
														).form-control
													.form-group
														button.btn.btn-primary.pull-right(
															ng-click="submitEmail()"
														) Send Confirmation Email

										// Success
										div(ng-show="success == true").row
											br
											div.col-md-12
												div.alert.alert-success
													| Done!

										// Errors
										div(ng-show="errorCode != null").row
											br
											div.col-md-12
												div.alert.alert-danger(ng-switch="errorCode")

													div(
														ng-switch-when="email_matches_v2_user|email_matches_v1_user"
														ng-switch-when-separator="|"
													)
														| Sorry, we can't merge that email address.

													div(ng-switch-when="email_not_in_sl")
														| Sorry, that email address does not match any account in ShareLaTeX.

													div(ng-switch-when="email_matches_v1_user_in_v2")
														| Sorry, that account has already been migrated to Overleaf v2.

													div(ng-switch-default)
														| Sorry, something went wrong.

													// always shown
													div
														| If the problem persists, please contact us via the contact form
														| on #[a(href=settings.accountMerge.betaHost+'/login', target="_blank", style="text-decoration: underline;") this page].




								.row(ng-show="hasSlAccount == 'has-no-sl-account'" ng-cloak style="margin-top: 25px;")
									.col-md-12
										p
											| OK, let's move your Overleaf account to v2 now. It will
											| only take a few seconds.

										p.text-center
											a.btn.btn-lg.btn-primary(href="/overleaf/auth_from_v1") Get Started with Overleaf v2
