extends ../../../../app/views/layout

block content
	.content.content-alt
		.container
			.row
				.col-md-8.col-md-offset-2
					.card
						.page-header
							h1 Moving to Overleaf
						p.text-center
							img(
								src="/img/ol_plus_sl.png"
								style="width: 50%"
							)

						div
							p
								| Good news! Overleaf and ShareLaTeX have joined forces to bring
								| you Overleaf v2, which combines the best of both services.
								| Coming from ShareLaTeX, Overleaf v2 will be very familiar,
								| because it's built around the ShareLaTeX editor.
							p
								| You can access all your ShareLaTeX projects through Overleaf
								| v2. 
								if hasSubscription
									| Your subscription will also be transferred automatically to
									| Overleaf v2.

							hr

							.row
								.col-md-12.form-group(ng-controller="SharelatexAccountMergeCheckerController")
									h4(style="margin-top: 0;") Do you already have an Overleaf account?

									.radio
										input(
											type="radio"
											id="yes-ol-account"
											name="account-checker"
											ng-model="hasOlAccount"
											value="has-ol-account"
										)
										label(for="yes-ol-account") Yes, I also have an Overleaf account
									.radio
										input(
											type="radio"
											id="no-ol-account"
											name="account-checker"
											ng-model="hasOlAccount"
											value="has-no-ol-account"
										)
										label(for="no-ol-account") No, I only have a ShareLaTeX account

									.row(ng-show="hasOlAccount == 'has-ol-account'" ng-cloak style="margin-top: 25px;")
										.col-md-12

											p
												| We didn't find a Overleaf account for #[strong #{email}].
												| Do you use Overleaf with a different email? Please enter it below, and
												| we will send an email to that address with a link to merge your accounts together.
											p
												| #[strong After the accounts are merged, you will use your Overleaf v1 email and password] to
												| log in to Overleaf v2, and the projects from both of your old accounts will be available on
												| your dashboard.

											p
												| To proceed with the account merge, enter your Overleaf email below:

											div.row
												div.col-md-12
													form(name="ol-email-merge")
														.form-group
															label.hidden Overleaf Account Email
															input(
																type="email"
																required
																placeholder="email@example.com"
																ng-model-options="{ updateOn: 'blur' }"
																name="ol-email"
																id="ol-email"
																ng-model="olEmail"
															).form-control
														.form-group
															button.btn.btn-info.pull-right(
																ng-click="submitEmail()"
															) Send Confirmation Email

											// Success
											div(ng-show="success == true").row
												br
												div.col-md-12
													div.alert.alert-success
														| Email sent!

											// Errors
											div(ng-show="errorCode != null").row
												br
												div.col-md-12
													div.alert.alert-danger(ng-switch="errorCode")

														div(ng-switch-when="email_matches_v2_user")
															| Sorry, that email address is already linked to an Overleaf v2 account.

														div(ng-switch-when="email_not_in_v1")
															| Sorry, that email address does not match any account in Overleaf v1.

														div(ng-switch-default)
															| Sorry, something went wrong.
															div
																| If the problem persists, please &nbsp;
																a(
																	ng-controller="ContactModal"
																	ng-click="contactUsModal()"
																	href=""
																	class="ng-scope"
																	style="text-decoration: underline;"
																) contact us

									.row(ng-show="hasOlAccount == 'has-no-ol-account'" ng-cloak style="margin-top: 25px;")
										.col-md-12
											p
												| OK, let's move your ShareLaTeX account to Overleaf
												| now. It will only take a few seconds.

											p.text-center
												a.btn.btn-lg.btn-primary(href="/user/auth_with_ol_v2") Get Started with Overleaf v2
