extends ../../../../app/views/layout

block content
	.content.content-alt
		.container
			.row
				.col-md-4.col-md-offset-4
					.card
						.page-header
							h2 Confirm Account Merge
						p.text-center
							img(
								src="/img/ol_plus_sl.png"
								style="width: 50%"
							)
						p
							| Please confirm that you'd like us to merge your Overleaf and
							| ShareLaTeX accounts. You'll be able to access all your projects
							| through Overleaf v2. If you have a subscription it will be
							| transferred automatically to Overleaf v2.
						hr
						if (logged_in_user_id && logged_in_user_id == merge_user_id)
							form(async-form="confirm", name="confirmForm", action='/user/confirm_account_merge', method="POST", ng-cloak)
								input(name='_csrf', type='hidden', value=csrfToken)
								input(name='token', type="hidden", value=token)
								p.text-center
									button.btn-primary.btn(
										type='submit',
										ng-disabled="confirmForm.inflight"
									)
										span(ng-show="!confirmForm.inflight") Merge my Accounts
										span(ng-show="confirmForm.inflight") Submitting...
						else
							p.text-center
								a(href="/login?redir=" + encodeURIComponent("/user/confirm_account_merge?token=" + token) + "&email=" + encodeURIComponent(overleaf_email))
									| Log in with #{overleaf_email} to confirm

