extends ../../../../app/views/layout

block content
	.content.content-alt
		.container
			.row
				.col-md-8.col-md-offset-2
					.card
						.page-header
							h2 Link your Overleaf and ShareLaTeX accounts
						p
							| The Overleaf beta uses the same accounts as ShareLaTeX, and you already have a ShareLaTeX account registered to the email address: <strong>#{overleaf_email}</strong>.
							| To use the Overleaf beta, you will need to link your ShareLaTeX account to the Overleaf beta as well.
							| You will be then be able to access both your Overleaf projects and ShareLaTeX projects in one place, in the beta.
						if (logged_in_user_id && logged_in_user_id == merge_user_id)
							form(async-form="confirm", name="confirmForm", action='/user/confirm_account_merge', method="POST", ng-cloak)
								input(name='_csrf', type='hidden', value=csrfToken)
								input(name='token', type="hidden", value=token)
								p.text-center
									button.btn-success.btn(
										type='submit',
										ng-disabled="confirmForm.inflight"
									)
										span(ng-show="!confirmForm.inflight") Link my ShareLaTeX account to the Overleaf beta
										span(ng-show="confirmForm.inflight") Linking...
							p.text-center
								a(href="https://www.overleaf.com").subdued.small No thanks, I'll join the beta later
						else
							p.text-center
								a(href="/login?redir=" + encodeURIComponent("/user/confirm_account_merge?token=" + token) + "&email=" + encodeURIComponent(overleaf_email)).btn.btn-primary
									| Login with #{overleaf_email} to confirm
							
						//- hr
						//- h2 FAQ
						//- h3 Why do I need to do this?
						//- p
						//- 	| The Overleaf beta is running on the existing ShareLaTeX platform. Since you already have
						//- 	| an account at ShareLaTeX, we need to link this to your Overleaf account to give you access
						//- 	| to the beta. Oherwise you would have two accounts with the same email address.
						//- h3 What will happen to my ShareLaTeX account?
						//- p
						//- 	| Nothing will change with your ShareLaTeX account. You can continue to access it and use it like
						//- 	| normal at www.sharelatex.com. However, once you've linked your account, you will also be able to
						//- 	| access your ShareLaTeX projects via the Overleaf beta, at beta.overleaf.com, giving you a single
						//- 	| place to manage all your projects.
						//- 

