extends ../../../../app/views/layout

block content
	.content.content-alt
		.login-register-container
			.card.login-register-card(ng-cloak)
				.login-register-header
					h1.login-register-header-heading Log in to Overleaf
				form.login-register-form(async-form="login", name="loginForm", action='/login/v1', method="POST", ng-cloak)
					input(name='_csrf', type='hidden', value=csrfToken)
					form-messages(for="loginForm")
					.form-group
						label.sr-only(for='email') #{translate("email")}
						input.form-control(
							type='email'
							name='email'
							required
							placeholder="Email"
							ng-model="email"
							ng-model-options="{ updateOn: 'blur' }"
							ng-init="email = "+JSON.stringify(email)
							focus="true"
						)
						span.small.text-danger(ng-show="loginForm.email.$invalid && loginForm.email.$dirty")
							| #{translate("must_be_email_address")}
					.form-group
						label.sr-only(for='password') #{translate("password")}
						input.form-control(
							type='password'
							name='password'
							required
							placeholder="Password"
							ng-model="password"
						)
						span.small.text-danger(ng-show="loginForm.password.$invalid && loginForm.password.$dirty")
							| #{translate("required")}
					.actions
						button.btn-primary.btn.btn-block(
							type='submit',
							ng-disabled="loginForm.inflight"
						)
							span(ng-show="!loginForm.inflight") Log in with your email
							span(ng-show="loginForm.inflight") #{translate("logging_in")}...
					p.login-register-hr-text-container
						span.login-register-hr-text or
					.form-group.text-center
						a.btn.btn-default.btn-block.login-btn-ieee(
							href="/org/ieee/saml/init"
						) 
							i.login-btn-icon.login-btn-icon-ieee
							| Log in with IEEE
					.form-group.text-center
						a.btn.btn-default.btn-block.login-btn-google(
							href="/auth/google?intent=sign_in"
						) 
							i.login-btn-icon.login-btn-icon-google
							| Log in with Google
					.form-group.text-center
						a.btn.btn-default.btn-block.login-btn-twitter(
							href="/auth/twitter?intent=sign_in"
						) 
							i.login-btn-icon.login-btn-icon-twitter
							| Log in with Twitter
					.form-group.text-center
						a.btn.btn-default.btn-block.login-btn-orcid(
							href="/auth/orcid?intent=sign_in"
						) 
							i.login-btn-icon.login-btn-icon-orcid
							| Log in with ORCID
				.login-register-sharelatex
					p.login-register-text
						| First time here as a ShareLaTeX user
						i.fa.fa-question-circle.login-register-sharelatex-tooltip(
							tooltip="Please log in to ShareLaTeX to move your account to Overleaf. It will only take a few seconds. If you have a ShareLaTeX subscription, it will automatically be transferred to Overleaf."
						)
					.form-group.text-center
						a.btn.btn-default.btn-block.login-btn-sharelatex(
							href=settings.accountMerge.sharelatexHost + "/logout"
						) 
							i.login-btn-icon.login-btn-icon-sharelatex 
							| Migrate from ShareLaTeX
				.login-register-other-links
					p.login-register-text 
						| Don't have an account?
						|
						a(href="/register") Sign up
					p.login-register-text 
						a(href="/user/password/reset") Forgot your password?

