extends ../../../../app/views/layout

block content

	script(type="text/javascript").
		window.data = {
			user: !{JSON.stringify(user).replace(/\//g, '\\/')},
			projects: !{JSON.stringify(projects).replace(/\//g, '\\/')},
			tags: {},
		};

	.content.content-alt(ng-controller="ProjectPageController as projectController")
		.container(ng-controller="AdminProjectController")
			.row
				aside.col-md-2.col-xs-3
					h2  User Info

					img(src="http://www.gravatar.com/avatar/{{user.gravatar}}.jpg?s=140")

					label  User ID
					p.small {{user._id}}

					label  #{translate("email")}
					p.small {{user.email}}

					label #{translate("first_name")}
					p.small {{user.first_name}}

					label #{translate("last_name")}
					p.small {{user.last_name}}

				.col-md-10.col-xs-9
					include ../../../../app/views/project/list/project-list

		include ../../../../app/views/project/list/modals
