extends ../../../../app/views/layout

block scripts
	//sigma does not play well with requirejs, just hard linking it #HO
	script(src="#{jsPath}libs/sigma-master/build/sigma.min.js")
	script(src="#{jsPath}libs/sigma-master/build/plugins/sigma.layout.forceAtlas2.min.js")
	script(src="#{jsPath}libs/sigma-master/build/plugins/sigma.renderers.edgeLabels.min.js")
	script(src="#{jsPath}libs/sigma-master/build/plugins/sigma.renderers.parallelEdges.min.js")

block content

	script(type="text/javascript").
		window.data = {
			user: !{JSON.stringify(user).replace(/\//g, '\\/')},
			graph: !{JSON.stringify(graph).replace(/\//g, '\\/')}
		};

	.content.content-alt(ng-controller="AdminGraphController")
		.container
			.row
				aside.col-md-2.col-xs-3
					include ./user/side-info

				.col-md-10.col-xs-9
					ul.nav.nav-pills
						li.btn.disabled {{user.first_name}} Graph
						li
							.dropdown
								button.btn.btn-default.dropdown-toggle Graph Level
									span 
										b.caret
								ul.dropdown-menu(role="menu")
									li(
										ng-repeat="n in [1,2,3,4,5,6,7,8]",
										ng-class="{active: n==level}"
									)
										a(
											href="/admin/user/graph/{{user._id}}?level={{n}}", 
										) {{n}} Level
					.card.card-thin.row.row-spaced
						#graph(style="max-width: 100%; height: 450px;")

		include ./user/graphModal
