extends ../../../../app/views/layout

block content
	.content.content-alt
		.container
			.row
				.col-md-10.col-md-offset-1
					.card
						if project_name
							.page-header
								h1 #{user_first_name} would like you to join <em>#{project_name}</em>
							if settings.createV1AccountOnLogin
								p.text-center
									img(
										src="/img/ol_plus_sl.png"
										style="width: 50%"
									)
							p You need to be logged in to Overleaf v2 in order to accept the invite and join the project.
						else
							.page-header
								h1 Welcome to Overleaf v2!
							if settings.createV1AccountOnLogin
								p.text-center
									img(
										src="/img/ol_plus_sl.png"
										style="width: 50%"
									)
								p
									| Good news! Overleaf and ShareLaTeX have #[a(href="https://www.overleaf.com/blog/518-exciting-news-sharelatex-is-joining-overleaf", target="_blank", event-tracking="click_v2_join_forces", event-tracking-trigger="click", event-tracking-ga="v2_onboard", event-tracking-label="welcome") joined forces]
									| to bring you Overleaf v2, which combines the best of both
									| services. Coming from ShareLaTeX, Overleaf v2 will be very
									| familiar, because it's built around the ShareLaTeX editor.
							else
								p
									| Overleaf and ShareLaTeX have
									|
									a(href="https://www.overleaf.com/blog/518-exciting-news-sharelatex-is-joining-overleaf", target="_blank", event-tracking="click_v2_join_forces", event-tracking-trigger="click", event-tracking-ga="v2_onboard", event-tracking-label="welcome") joined forces
									| . We’re currently beta-testing a new platform called Overleaf v2, which will combine the best features from Overleaf and ShareLaTeX.

						if settings.createV1AccountOnLogin
							.row
								.col-md-6
									h3 For Overleaf Users
									p
										| You can log in to #[a(href="/overleaf/login", event-tracking="login_v2_via_overleaf", event-tracking-trigger="click", event-tracking-ga="v2_onboard", event-tracking-label="welcome") Overleaf v2 via www.overleaf.com]
										| as normal.
									p.text-center.row-spaced
										a(href="/overleaf/login", event-tracking="login_v2_via_overleaf", event-tracking-trigger="click", event-tracking-ga="v2_onboard", event-tracking-label="welcome").btn.btn-lg.btn-success Log in with Overleaf
								.col-md-6
									h3 For ShareLaTeX Users
									p
										| #[strong If you already have an Overleaf account], please
										| make sure the email addresses you use to sign in are the
										| same on both services. We'll then automatically merge your
										| accounts so you can access all your Overleaf and
										| ShareLaTeX projects through Overleaf v2.
									p
										| #[strong If you don't already have an Overleaf account],
										| we'll automatically transfer all your projects from
										| ShareLaTeX to Overleaf v2. The transfer will only take a
										| few seconds. The Overleaf v2 LaTeX compiler is the same,
										| so your projects will all work exactly as they did before.
									p
										| #[strong If you have a paid subscription], group license
										| or institutional site license, it will continue to work in
										| Overleaf v2 automatically.
									p
										| Please log in to ShareLaTeX to move your account to
										| Overleaf. It will only take a few seconds. If you have a
										| ShareLaTeX subscription, it will automatically be
										| transferred to Overleaf.
									p.text-center.row-spaced
										a(href=settings.accountMerge.sharelatexHost + "/logout", event-tracking="login_v2_via_sharelatex", event-tracking-trigger="click", event-tracking-ga="v2_onboard", event-tracking-label="welcome").btn.btn-lg.btn-danger Log in with ShareLaTeX
						else
							p
								| You can log-in with either your Overleaf or ShareLaTeX account.
								|
								a(href="https://www.overleaf.com/help/342-overleaf-v2-faq", target="_blank", rel="nofollow", event-tracking="click_v2_read_more", event-tracking-trigger="click", event-tracking-ga="v2_onboard", event-tracking-label="welcome") Read more.
							p.text-center.row-spaced
								a(href="/overleaf/login", event-tracking="login_v2_via_overleaf", event-tracking-trigger="click", event-tracking-ga="v2_onboard", event-tracking-label="welcome").btn.btn-lg.btn-success Log in with Overleaf
								| &nbsp;
								a(href=settings.accountMerge.sharelatexHost + "/user/login_to_ol_v2", event-tracking="login_v2_via_sharelatex", event-tracking-trigger="click", event-tracking-ga="v2_onboard", event-tracking-label="welcome").btn.btn-lg.btn-danger Log in with ShareLaTeX

							hr
							.small.text-center
								| Not looking for Overleaf v2? Go back to
								|
								a(href="https://www.overleaf.com", event-tracking="drop_v2_to_overleaf", event-tracking-trigger="click", event-tracking-ga="v2_onboard", event-tracking-label="welcome") Overleaf
								|
								| or
								|
								a(href="https://www.sharelatex.com", event-tracking="drop_v2_to_sharelatex", event-tracking-trigger="click", event-tracking-ga="v2_onboard", event-tracking-label="welcome") ShareLaTeX
								| .
