extends ../../../../app/views/layout

block content
	.content.content-alt
		#institution-hub.container
			.row
				.col-lg-12
					.hub-header
						span.dropdown(dropdown)
							a.dropdown-toggle(href, dropdown-toggle)
								i.fa.fa-caret-down
							ul.dropdown-menu
								if portalSlug
									li
										a(href="/edu/" + portalSlug) Portal
								li
									a(href="/metrics/institutions/" + institutionId) Metrics

						h2(style="text-transform: capitalize") #{institutionName} &mdash; Administrator Hub
			.row
				.col-lg-12
					.admin-item#usage
						.section-title
							h3 Usage
						include institutionHub/usage
					.admin-item#collaboration
						.section-title
							h3 Collaboration
						include institutionHub/collaboration
					.admin-item#distribution
						.section-title
							h3 Distribution
						include institutionHub/distribution

block requirejs
	script(
			src=buildWebpackPath('es/metrics.js', {hashedPath:settings.useMinifiedJs})
			type="text/javascript"
		)

	script(type="text/javascript").
		$(function() {
			Frontend.metrics.chartApp.init();
			Frontend.metrics.institutionHub.getDataAndInitCharts();
		})

	script(type='text/javascript').
		// minimal requirejs configuration (can be extended/overridden)
		window.requirejs = {
			"paths" : {
				"moment": "libs/#{lib('moment')}",
				"fineuploader": "libs/#{lib('fineuploader')}",
				"main": "#{buildJsPath('main.js', {hashedPath:settings.useMinifiedJs, removeExtension:true})}",
				"libraries": "#{buildJsPath('libraries.js', {hashedPath:settings.useMinifiedJs, removeExtension:true})}",
			},
			"config":{
				"moment":{
					"noGlobal": true
				}
			}
		}
	script(
		data-main=buildJsPath('main.js', {hashedPath:false}),
		baseurl=fullJsPath,
		src=buildJsPath('libs/require.js', {hashedPath:true})
	)
