mixin doc_rows(docs)
	.row
		each doc in docs
			.col-md-4.template-thumbnail
				a(href=doc.path).thumbnail
					img(src=doc.image_url)
				div.caption
					a(href=doc.path) #{doc.title}
					div.caption__description=doc.description
					//- sanitized by api
					div!= doc.author