mixin doc_rows(docs)
	.templates-container
		each doc in docs
			.template-thumbnail.template-thumbnail__container
				a(href=doc.path)
					img.thumbnail(src=doc.image_url alt=doc.title)
					.caption__title #{doc.title}
				div.caption
					div.caption__description=doc.description
					//- sanitized by api
					div!= doc.author