extends ../../../../app/views/layout
include doc_rows
include pagination

block content

	.content
		.container
			.row
				.col-md-6
					h1 #{page_title}
				.col-md-6
					.filters
						span Filters: 
						a(href="/gallery/tagged/"+tag.name) All 
						span /
						a(href="/latex/templates/tagged/"+tag.name)  Templates 
						span /
						a(href="/latex/examples/tagged/"+tag.name)  Examples 
						span /
						a(href="/articles/tagged/"+tag.name)  Articles 
			p #{item_name}s tagged #{tag.title}
			p
				a(href=path) Show all #{item_name}s
			p #{summary}


		.container
			if tagged_docs.length
				+doc_rows(tagged_docs)
				if tagged_docs_pagination
					+pagination(tagged_docs_pagination)
			else
				h2 There are no articles matching your tags

		if related_tags.length
			.container
				h2 Related Tags
				each tag in related_tags
					a(href=tag.path class="btn btn-info btn-sm tag-link") #{tag.title}
