extends ../../../../app/views/layout
include doc_rows
include pagination

block vars
	- metadata = { viewport: true }

block content

	.content
		.container
			.row
				.col-md-6
					h1 #{page_title}
				.col-md-6
					.filters
						span Filters: 
						a(href="/gallery") All 
						span / 
						a(href="/latex/templates") Templates 
						span / 
						a(href="/latex/examples") Examples 
						span / 
						a(href="/articles") Articles

			p #{summary}

		if tags && tags.length
			.container
				h2 Popular Tags
				.row
					each tag in tags
						.col-md-4.template-thumbnail
							.thumbnail-tag.thumbnail(style=`background: url(${tag.logo_url}) no-repeat center center; background-size: cover;`)
								a(href=tag.path)
							.caption
								a(href=tag.path) #{tag.title}

		if recent_docs && recent_docs.length
			.container
				if !hide_segment_title
					h2 Recent
				+doc_rows(recent_docs)
				if recent_docs_pagination
					+pagination(recent_docs_pagination)

		if popular_docs && popular_docs.length
			.container
				if !hide_segment_title
					h2 Popular
				+doc_rows(popular_docs)
				if popular_docs_pagination
					+pagination(popular_docs_pagination)
