mixin pagination(pages)
	ul.pagination
		each page in pages
			if page.active
				li
					span.active #{page.text}
			else
				li
					if page.rel
						a(href=page.href rel=page.rel) #{page.text}
					else
						a(href=page.href) #{page.text}
